<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="fr">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bolloré - Accueil</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6432154/6221972/css/fonts.css" />

    <!-- build:css css/app.bollore.bundle.min.css -->
    <!-- core:include _css.html -->
    <!-- /core -->
    <!-- endbuild -->

    <!-- core:include _favicon.html -->
    <!-- /core -->
</head>

<body>
    <div class="content">



        <!-- START Main Bloc-->
        <main class="main">
            <div class="mainContent">
                <!-- START Header Bloc-->
                <header class="header">
                    
                    <!-- core:include _header.html -->
                    <!-- /core -->
                </header>
                <!-- END Header Bloc-->
                <!-- core:include _home.html -->
                <!-- /core -->

                <!-- START Footer Bloc-->
                <footer class="footer">
                    <!-- core:include _footer.html -->
                    <!-- /core -->
                </footer>
                <!-- END Footer Bloc-->


            </div>
        </main>
        <!-- END Main Bloc-->

    </div>
    <!-- build:js js/app.bollore.bundle.min.js -->
    <!-- core:include _js.html -->
    <!-- /core -->
    <!-- endbuild -->
</body>

</html>