<div class="content pageActivites">

    <!-- core:include _headerBandeau.html -->
    <!-- /core -->

    <!-- core:include _ariane.html -->
    <!-- /core -->

    <div class="mainChapeau">
        <div class="mainChapeau__content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae massa id ex laoreet consectetur eget sit amet
            lacus. Sed at iaculis erat. Maecenas erat quam, cursus eget molestie vel, hendrerit in mauris. Phasellus eu orci
            vitae turpis congue cursus at vel justo. Quisque non blandit odio, vitae tincidunt risus. Phasellus commodo est
            a mi gravida, eu vulputate nibh auctor. </p></div>
    </div>

    <div class="sousContent sousContent__activites">

        <ul class="listeEnSavoirPlus">
            <li class="listeEnSavoirPlus__item">
                <h2 class="icon-bulle-8 listeEnSavoirPlus__titre">Blue Solutions</h2>
                <p class="listeEnSavoirPlus__texte">Blue Solutions conçoit et produit les batteries électriques de haute performance basées sur la technologie
                    Lithium Métal Polymère (LMP®) ainsi que des supercapacités.</p>
                <p class="listeEnSavoirPlus__lien"><a href="#">En savoir plus</a></p>
            </li>
            <li class="listeEnSavoirPlus__item">
                <h2 class="icon-bulle-9 listeEnSavoirPlus__titre">Blue Applications</h2>
                <p class="listeEnSavoirPlus__texte">Fort de sa technologie de batteries LMP®, le Groupe se développe dans les applications mobiles (voitures
                    électriques, autopartage, bus, tramways...) et stationnaires de la batterie électrique (Bluezone, smart
                    grid). À travers IER et Polyconseil, il dispose d’une expertise dans les solutions pour le stockage d’électricité
                    (bornes de charge, systèmes informatiques pour l’autopartage...).</p>
                <p class="listeEnSavoirPlus__lien"><a href="#">En savoir plus</a></p>
            </li>
            <li class="listeEnSavoirPlus__item">
                <h2 class="icon-bulle-10 listeEnSavoirPlus__titre">Film Plastiques</h2>
                <p class="listeEnSavoirPlus__texte">Le Groupe Bolloré est le premier producteur mondial de films pour condensateurs et le troisième producteur
                    mondial de films thermorétractables pour emballages.</p>
                <p class="listeEnSavoirPlus__lien"><a href="#">En savoir plus</a></p>
            </li>
        </ul>
    </div>

    <div class="actuDoc__footer actuDoc__footer--generic">
        <a href="faq.html" class="actuDoc__faqLink --linkF"><i class="fa fa-comments-o linkTxtAnim" aria-hidden="true"></i> <span class="actuDoc__faqtxt linkTxtAnim"> Accédez à notre FAQ</span></a>
    </div>
</div>