<div class="content content--chiffre">
    <section class="headerGenerique headerGenerique--content">
        <div class="headerGenerique__img">
            <div class="headerGenerique__bloc isTablette isMobile">
                <div class="headerGenerique__content">
                    <p class="headerGenerique__rubrique">Actionaires</p>
                </div>

            </div>
            <picture>
                <source media="(max-width: 640px)" srcset="img/img-vincent-bollore-mob.jpg">
                <source media="(max-width: 1024px)" srcset="img/img-vincent-bollore-tab.jpg">
                <img src="img/img-vincent-bollore.jpg" class="resp imgHeader" alt="">
            </picture>
        </div>

        <div class="headerGenerique__bloc headerGenerique__bloc--msg">

            <div class="headerGenerique__content">
                <p class="headerGenerique__rubrique">Message du président</p>
                <p class="headerGenerique__title">Les bons résultats de nos métiers nous ont permis de poursuivre les développements dans le stockage d'électricité,
                    où se concentre une part significative de nos investissements.</p>
                <p class="headerGenerique__stitle">Vincent Bolloré<br /> Président</p>
            </div>
        </div>
    </section>
    <div class="breadcrumb">
        <span xmlns:v="http://rdf.data-vocabulary.org/#">
<span typeof="v:Breadcrumb">
<a href="#" rel="v:url" property="v:title">Accueil</a> >
<strong class="breadcrumb__last">Actionaires</strong>
</span>
        </span>
    </div>



    <h2 class="mainTitle"><span class="mainTitle__text --titleHead mainTitle--grey mainTitle--multiline">Chiffre clés <span class="mainTitle__sub"> en millions d'euros</span>        </span>
    </h2>


    <div class="chiffreKey">

        <div class="chiffreKey__content">
           <div class="chiffreKey__pushChiffre">
                 <div class="gridCR --VgridTop">
                <div class="gridCR-col-33--desk gridCR-col-100--mob">
                    <h3 class="chiffre__keyFigure chiffre__keyFigure--logo1 icon-bulle-3 --titleBlue4">
                        <div class="chiffre__data">
                            <span class="chiffre__txt">chiffre d'affaires</span>
                            <span data-max="10824" class="chiffre__h3"></span>
                        </div>

                    </h3>
                </div>
                <div class="gridCR-col-33--desk gridCR-col-100--mob">
                    <h3 class="chiffre__keyFigure chiffre__keyFigure--logo1  icon-bulle-3 --titleBlue4">
                        <div class="chiffre__data">
                            <span class="chiffre__txt">résultat opérationnel</span>
                            <span data-max="701" class="chiffre__h3"></span>
                        </div>

                    </h3>
                </div>
                <div class="gridCR-col-33--desk gridCR-col-100--mob">
                    <h3 class="chiffre__keyFigure chiffre__keyFigure--logo1  icon-bulle-3 --titleBlue4">
                        <div class="chiffre__data">
                            <span class="chiffre__txt">résultat net</span>
                            <span  data-max="727" class="chiffre__h3"></span>
                        </div>

                    </h3>
                </div>
                 </div>
            </div>
        </div>
        <div class="chiffreKey__pushData">
            <div class="chiffreKey__pushDataContent">
                <div class="gridCR --VgridTop gridCR--center">

                    <div class="gridCR-col-33--desk gridCR-col-100--mob">

                        <div class="pushData pushData--bourse">
                            <div class="pushData__item">
                                <span class="pushData__title">Cours de bourse</span>
                                <span class="pushData__txt ftUpp">en direct</span>
                                <span class="pushData__euros">2,992 <sup class="pushData__sup">€</sup></span>
                                <span class="pushData__pourcentage">+ 0,40 <sup class="pushData__sup">%</sup></span>
                            </div>

                            <a class="linkG linkG--blue" href="#"> <span class="linkT linkTxtAnim">Suivre le cours de l'action</span></a>
                        </div>


                    </div>

                    <div class="gridCR-col-33--desk gridCR-col-100--mob">
                        <div class="pushData pushData--generic">
                            <div class="pushData__item">
                                <span class="pushData__title">14 novembre 2016</span>
                                <span class="pushData__txt">Publication des informations financières du 3<sup>ème</sup> trimestre</span>
                                <a class="pushData__link link--blue --link" href="#">Plus d'informations ></a>
                            </div>
                            <a class="linkG linkG--blue" href="#"> <span class="linkT linkTxtAnim">Tous les évènements</span></a>
                        </div>
                    </div>
                    <div class="gridCR-col-33--desk gridCR-col-100--mob">
                        <div class="pushData pushData--generic">
                            <div class="pushData__item">
                                <span class="pushData__title">Questions et réponses</span>
                                <span class="pushData__txt">"Comment investir <br /> dans le groupe Bolloré ?"</span>
                                <a class="pushData__link link--blue --link" href="#">Voir la réponse ></a>
                            </div>
                            <a class="linkG linkG--blue" href="#"> <span class="linkT linkTxtAnim">Toutes les réponses aux principales questions posées par les actionnaires</span></a>
                        </div>
                    </div>
                
                </div>
            </div>

        </div>

    </div>
    <h2 class="mainTitle">
        <span class="mainTitle__text --titleHead mainTitle--grey">Publications</span>
    </h2>
    <div class="publicationsK listeDocs">
        <section class="actuDoc__content actuDoc--publications  listeDocs__documents">
            <header class="actuDoc__head --headGenric">
                <span class="actuDoc__title"><span class="actuDoc__titleTxt --titleGrey1 --titleHead invisible">Publications</span></span>
            </header>
            <div class="actuDoc__bloc listeDocs__slideshowmobile" data-slideitem="actuDoc__item">

                <ul class="actuDoc__ul">
                    <li class="actuDoc__item actuDoc__item--current">
                        <article class="post">
                            <div class="gridCR gridCR--colonne">
                                <div class="gridCR-col-auto  gridCR-col-50--mob">
                                    <div class="post__img">
                                        <img src="img/exemple_document-chiffre.jpg" class="pub__image resp" alt="publciation 1">
                                    </div>
                                </div>
                                <div class="gridCR-col-auto  gridCR-col-50--mob">
                                    <div class="post__item">


                                        <div class="post__content --titleGrey1">
                                            <p>Résultats<br/> du 1er trimestre 2016</p>
                                        </div>
                                        <footer class="post__footer">
                                            <a href="telecharger.html" class="post__link --link">Télécharger ></a>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="actuDoc__item">
                        <article class="post">
                            <div class="gridCR gridCR--colonne">
                                <div class="gridCR-col-auto  gridCR-col-50--mob">
                                    <div class="post__img">
                                        <img src="img/exemple_document-chiffre.jpg" class="pub__image resp" alt="publciation 1">
                                    </div>
                                </div>
                                <div class="gridCR-col-auto  gridCR-col-50--mob">
                                    <div class="post__item">


                                        <div class="post__content --titleGrey1">
                                            <p>Document<br/> de référence 2016.</p>
                                        </div>
                                        <footer class="post__footer">
                                            <a href="telecharger.html" class="post__link --link">Télécharger ></a>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="actuDoc__item">
                        <article class="post">
                            <div class="gridCR gridCR--colonne">
                                <div class="gridCR-col-auto gridCR-col-50--mob">
                                    <div class="post__img">
                                        <img src="img/img-doc.jpg" class="pub__image resp" alt="publciation 1">
                                    </div>
                                </div>
                                <div class="gridCR-col-auto gridCR-col-50--mob">
                                    <div class="post__item">


                                        <div class="post__content --titleGrey1">
                                            <p>Le groupe Bolloré<br> renforce sa participation<br> dans Vivendi</p>
                                        </div>
                                        <footer class="post__footer">
                                            <a href="telecharger.html" class="post__link --link">Télécharger ></a>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="actuDoc__item">
                        <article class="post">
                            <div class="gridCR gridCR--colonne">
                                <div class="gridCR-col-auto  gridCR-col-50--mob">
                                    <div class="post__img">
                                        <img src="img/img-doc.jpg" class="pub__image resp" alt="publciation 1">
                                    </div>
                                </div>
                                <div class="gridCR-col-auto  gridCR-col-50--mob">
                                    <div class="post__item">


                                        <div class="post__content --titleGrey1">
                                            <p>Le groupe Bolloré<br> renforce sa participation<br> dans Vivendi</p>
                                        </div>
                                        <footer class="post__footer">
                                            <a href="telecharger.html" class="post__link --link">Télécharger ></a>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>

            </div>
        </section>
    </div>
    <div class="actuDoc__footer actuDoc__footer--generic">
        <a href="faq.html" class="actuDoc__faqLink --linkF"><i class="fa fa-comments-o linkTxtAnim" aria-hidden="true"></i> <span class="actuDoc__faqtxt linkTxtAnim"> Accédez à notre FAQ</span></a>
    </div>
</div>