<div class="content content--chiffre content--chiffreKey">
    <section class="headerGenerique headerGenerique--content">
        <div class="headerGenerique__img">
            <div class="headerGenerique__bloc">
                <div class="headerGenerique__content">
                    <p class="headerGenerique__rubrique">Communication</p>
                    <p class="headerGenerique__title">Havas</p>
                </div>

            </div>
            <picture>
                <source media="(max-width: 640px)" srcset="img/img-chiffre-01-mob.jpg">
                <source media="(max-width: 1024px)" srcset="img/img-chiffre-01-tab.jpg">
                <img src="img/img-chiffre-01.jpg" class="resp imgHeader" alt="">
            </picture>
        </div>

    </section>
    <div class="breadcrumb">
        <span xmlns:v="http://rdf.data-vocabulary.org/#">
<span typeof="v:Breadcrumb">
<a href="#" rel="v:url" property="v:title">Accueil</a> >
<a href="#" rel="v:url" property="v:title">Activités et participations</a> >
<a href="#" rel="v:url" property="v:title">Communication</a> >
<strong class="breadcrumb__last breadcrumb__last--red">Havas</strong>
</span>
        </span>
    </div>

    <h2 class="mainTitle"><span class="mainTitle__text --titleHead mainTitle--grey">Chiffre clés</span>
    </h2>
    <div class="chiffreKey">

        <div class="chiffreKey__data">
            <div class="chiffreKey__pushChiffre chiffreKey__pushChiffre--red">
                <div class="gridCR --VgridTop">
                    <div class="gridCR-col-25--desk gridCR-col-50--tab gridCR-col-100--mob">
                        <h3 class="chiffre__keyFigure  chiffre__keyFigure--logo1 icon-information">
                            <div class="chiffre__data">

                                <span data-max="2.2" class="chiffre__h3">1</span>
                                <span class="chiffre__txt1">milliards</span>
                                <span class="chiffre__txt">d'euros<br /> de revenus</span>
                            </div>

                        </h3>
                    </div>
                    <div class="gridCR-col-25--desk gridCR-col-50--tab gridCR-col-100--mob">
                        <h3 class="chiffre__keyFigure chiffre__keyFigure--logo1  icon-information">
                            <div class="chiffre__data">

                                <span data-max="59" class="chiffre__h3">1</span>
                                <span class="chiffre__txt1">millions d'euros</span>
                                <span class="chiffre__txt">d'investissements<br /> industriels</span>
                            </div>

                        </h3>
                    </div>
                    <div class="gridCR-col-25--desk gridCR-col-50--tab gridCR-col-100--mob">
                        <h3 class="chiffre__keyFigure chiffre__keyFigure--logo1  icon-information">
                            <div class="chiffre__data">

                                <span data-max="472" class="chiffre__h3">1</span>
                                <span class="chiffre__txt1">filiales</span>
                                <span class="chiffre__txt">implémantées dans<br /> plus de 100 pays</span>
                            </div>

                        </h3>
                    </div>
                    <div class="gridCR-col-25--desk gridCR-col-50--tab gridCR-col-100--mob">
                        <h3 class="chiffre__keyFigure chiffre__keyFigure--logo1  icon-information">
                            <div class="chiffre__data">

                                <span data-max="18592" class="chiffre__h3">1</span>
                                <span class="chiffre__txt1">collaborateurs</span>
                                <span class="chiffre__txt">au 31 décembre<br /> 2015</span>
                            </div>

                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mainChapeau">
        <div class="mainChapeau__content mainChapeau__content--red">
            <p>Au 31 décembre 2015, le Groupe détient <strong>60 % du capital d’Havas,</strong> l’un des plus grands groupes
                mondiaux de conseil en communication réalisant un revenu annuel de près de 2,2 milliards d’euros.<strong> Havas s’est donné pour mission
                d’être le groupe de communication le plus avancé dans la mise en relation des marques et des consommateurs
                via la créativité, l’expertise médias et l’innovation.</strong> Il est le groupe le plus intégré du secteur
                et regroupant la plupart de ses équipes créatives et médias dans les mêmes locaux : <strong>les Havas Villages,</strong>                afin de proposer l’offre et l’organisation la plus génératrice de valeur pour ses clients.</p>
        </div>
    </div>
    <div class="bloc">
        <div class="bloc__txt">
            <p>

                Havas développe ses activités autour de ses deux principales divisions, Havas Creative Group et Havas Media Group.
            </p>
            <p>
                <strong> Havas est présent dans plus de 100 pays</strong> au travers de ses agences et ses accords d'affiliation.
                Le Groupe offre une large gamme de services de conseil en communication, comprenant <strong>la publicité créative, l'achat média, le digital,
                    le marketing direct, la communication d'entreprise, la promotion des ventes, la conception, les ressources
                    humaines, le marketing sportif, la communication interactive multimédia et les relations publiques. Havas
                    dispose d'un effectif de plus de 18 000 collaborateurs.</strong>
            </p>
        </div>
    </div>
    <h3 class="mainTitle"><span class="mainTitle__text --titleHead mainTitle--red">Havas media Group</span>
    </h3>
    <div class="bloc">
        <div class="bloc__txt">
            <p>

                Havas Media Group intègre quatre grandes marques :<strong> Havas Media, Arena Media,
                    Forward Media et Havas Sports &amp; Entertainment.</strong> Ces marques principales sont en mesure de
                <strong>bénéficier de l'expertise des autres outils 
                    et marques d'Havas Media Group</strong> : Artemis (système d'agrégation et de gestion
                des données développé par le Groupe), Mobext (expertise mobile), Socialyse (réseaux sociaux), AdCity (geomarketing)
                et Affiperf (la plateforme de trading d'Havas).
            </p>
        </div>
    </div>
    <h3 class="mainTitle"><span class="mainTitle__text --titleHead mainTitle--red">Havas creative Group</span>
    </h3>
    <div class="bloc">
        <div class="bloc__txt">
            <p>

                <strong> Havas Creative Group englobe le réseau Havas Worldwide,</strong> qui couvre l'ensemble des disciplines
                de la communication et du marketing, le microréseau Arnold Wordwide, qui propose des
                <strong>stratégies marketing</strong> (publicité, digital, médias sociaux,
                <strong>conception d'applications, promotion, événementiel, contenu de marque, gestion de relation client...et
                                des agences de communication à forte identité locale</strong> comme les Gaulois
                ou W&amp;Cie, Host...
            </p>
        </div>
    </div>

    <section class="slider slider--custom">
        <div class="container--slider">
            <div class="slider__content">
                <ul class="slider__ul">
                    <li class="slider__item">

                        <article class="slider__article">

                            <div class="slider__image">
                                <picture>
                                    <source media="(max-width: 640px)" srcset="img/img-slider-chiffre-01-mob.jpg">
                                    <source media="(max-width:1024px)" srcset="img/img-slider-chiffre-01-tab.jpg">
                                    <img alt="Bolloré logistics" class="slider__img resp" src="img/img-slider-chiffre-01.jpg" />

                                </picture>
                            </div>
                            <div class="slider__push">
                                <span class="slider__txt">
                                   <span class="slider__title2 txtU">
                                 Campagne
                                </span> Air France, France is in the Air / BETC
                                </span>

                            </div>
                        </article>
                    </li>
                    <li class="slider__item">
                        <article class="slider__article">

                            <div class="slider__image">
                                <picture>
                                    <source media="(max-width: 640px)" srcset="img/img-slider-chiffre-02-mob.jpg">
                                    <source media="(max-width:1024px)" srcset="img/img-slider-chiffre-02-tab.jpg">
                                    <img alt="Communication" class="slider__img resp" src="img/img-slider-chiffre-02.jpg" />
                                </picture>
                            </div>
                            <div class="slider__push">

                                <span class="slider__txt">
                                   <span class="slider__title2 txtU">
                                 Campagne
                                </span> Air France, France is in the Air / BETC
                                </span>

                            </div>
                        </article>


                    </li>

                    <li class="slider__item">

                        <article class="slider__article">

                            <div class="slider__image">
                                <picture>
                                    <source media="(max-width: 640px)" srcset="img/img-slider-chiffre-03-mob.jpg">
                                    <source media="(max-width:1024px)" srcset="img/img-slider-chiffre-03-tab.jpg">
                                    <img alt="image 3" class="slider__img resp" src="img/img-slider-chiffre-03.jpg" />
                                </picture>
                            </div>
                            <div class="slider__push">
                                <span class="slider__txt">
                                   <span class="slider__title2 txtU">
                                 Campagne
                                </span> Air France, France is in the Air / BETC
                                </span>

                            </div>
                        </article>
                    </li>

                </ul>
                <div class="slider__pagination slider__pagination--red">
                    <span class="slider__next icon-fleche-1"></span>
                    <span class="slider__prev icon-fleche-1"></span>
                </div>
            </div>
        </div>
    </section>

    <div class="havasBloc">
        <div class="havasBloc__content">
            <div class="gridCR gridCR--center">
                <div class="gridCR-col-50--desk gridCR-col-100--mob">
                    <div class="havasBloc__left">
                        <div class="havasBloc__imgContainer">
                            <img alt="havas" class="resp havasBloc__img" src="img/img-havas-logo.png" />
                        </div>
                    </div>

                </div>
                <div class="gridCR-col-50--desk gridCR-col-100--mob">
                    <div class="havasBloc__right">
                        <span class="havasBloc__txt">Havas en ligne :</span>
                        <a href="http://havas.com/" target="_blank" class="havasBloc__link linkN"> Voir le site internet d'Havas</a>
                        <span class="havasBloc__txt">Suivez l'actualité d'havas sur :</span>
                        <ul class="socialLink">
                            <li class="socialLink__item socialLink__item--facebook">
                                <a href="https://www.facebook.com/havasworldwide/" target="_blank" title="facebook" class="socialLink__lnk icon-facebook"><span class="socialLink__txt hideText">facebook</span></a>
                            </li>
                            <li class="socialLink__item socialLink__item--twitter">
                                <a href="https://twitter.com/havas" target="_blank" title="twitter" class="socialLink__lnk icon-twitter"><span class="socialLink__txt hideText">twitter</span></a>
                            </li>
                            <li class="socialLink__item socialLink__item--instagram">
                                <a href="https://www.linkedin.com/company/havas" target="_blank" class="socialLink__lnk icon-instagram" title="instagram"><span class="socialLink__txt hideText">instagram</span></a>
                            </li>
                            <li class="socialLink__item socialLink__item--youtube">
                                <a href="https://www.youtube.com/user/havasworldwide" target="_blank" class="socialLink__lnk icon-youtube" title="youtube"><span class="socialLink__txt hideText">youtube</span></a>
                            </li>
                            <li class="socialLink__item socialLink__item--snapchat">
                                <a href="javascript:void(0)" target="_blank" class="socialLink__lnk icon-snapchat" title="snapchat"><span class="socialLink__txt hideText">snapchat</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <div class="filialeWrapper">

        <div class="filiale">

            <h2 class="mainTitle"><span class="mainTitle__text --titleHead mainTitle--grey">Toutes nos filiales</span>
            </h2>
            <section class="slider slider--filiale slider--pagination">
                <div class="container--slider">
                    <div class="slider__content">
                        <ul class="slider__ul">
                            <li class="slider__item">

                                <article class="slider__article">

                                    <div class="slider__image">


                                        <a class="slider__lnk" title="Direct Matin" href="http://www.cnewsmatin.fr/" target="_blank">
                                            <picture>
                                                <source media="(max-width: 640px)" srcset="img/img-filiale-direct-matin-logo-mob.jpg">
                                                <source media="(max-width:1024px)" srcset="img/img-filiale-direct-matin-logo-tab.jpg">
                                                <img alt="Direct Matin" class="slider__img resp" src="img/img-filiale-direct-matin-logo.jpg" />
                                            </picture>

                                        </a>


                                    </div>

                                </article>
                            </li>
                            <li class="slider__item">
                                <article class="slider__article">

                                    <div class="slider__image">

                                        <a class="slider__lnk" title="Bolloré Logistics" href="http://www.bollore-logistics.com/fr" target="_blank">
                                            <picture>
                                                <source media="(max-width: 640px)" srcset="img/img-filiale-bolore-logistics-mob.jpg">
                                                <source media="(max-width:1024px)" srcset="img/img-filiale-bolore-logistics-tab.jpg">
                                                <img alt="Bolloré Logistics" class="slider__img resp" src="img/img-filiale-bolore-logistics.jpg" />
                                            </picture>
                                        </a>

                                    </div>

                                </article>


                            </li>

                            <li class="slider__item">

                                <article class="slider__article">

                                    <div class="slider__image">

                                        <a class="slider__lnk" title="Bolloré Africa Logistics" href="http://www.bollore-transport-logistics.com/" target="_blank">
                                            <picture>
                                                <source media="(max-width: 640px)" srcset="img/img-filiale-bollore-logo-mob.jpg">
                                                <source media="(max-width:1024px)" srcset="img/img-filiale-bollore-logo-tab.jpg">
                                                <img alt="Bolloré Africa Logistics" class="slider__img resp" src="img/img-filiale-bollore-logo.jpg" />
                                            </picture>
                                        </a>

                                    </div>

                                </article>
                            </li>

                            <li class="slider__item">

                                <article class="slider__article">

                                    <div class="slider__image">

                                        <a class="slider__lnk" title="Bolloré Energy" href="http://www.bollore-energie.fr/" target="_blank">
                                            <picture>
                                                <source media="(max-width: 640px)" srcset="img/img-filiale-bollore-energy-mob.jpg">
                                                <source media="(max-width:1024px)" srcset="img/img-filiale-bollore-energy-tab.jpg">
                                                <img alt="Bolloré Energy" class="slider__img resp" src="img/img-filiale-bollore-energy.jpg" />
                                            </picture>
                                        </a>

                                    </div>

                                </article>
                            </li>
                            <li class="slider__item">

                                <article class="slider__article">

                                    <div class="slider__image">

                                        <a class="slider__lnk" title="Blue Solutions" href="https://www.blue-solutions.com/" target="_blank">
                                            <picture>
                                                <source media="(max-width: 640px)" srcset="img/img-filiale-blue-solutions-mob.jpg">
                                                <source media="(max-width:1024px)" srcset="img/img-filiale-blue-solutions-tab.jpg">
                                                <img alt="Blue Solutions" class="slider__img resp" src="img/img-filiale-blue-solutions.jpg" />
                                            </picture>
                                        </a>

                                    </div>

                                </article>
                            </li>

                        </ul>

                    </div>
                    <div class="slider__pagination">
                        <span class="slider__next icon-fleche-1"></span>
                        <span class="slider__prev icon-fleche-1"></span>
                    </div>
                </div>

            </section>
        </div>
    </div>


    <div class="actuDoc__footer actuDoc__footer--generic">
        <a href="faq.html" class="actuDoc__faqLink --linkF"><i class="fa fa-comments-o linkTxtAnim" aria-hidden="true"></i> <span class="actuDoc__faqtxt linkTxtAnim"> Accédez à notre FAQ</span></a>
    </div>
</div>