<div class="content content--generique">
    <section class="headerGenerique headerGenerique--content">
        <div class="headerGenerique__img"> <img src="img/img-header-contenu.jpg" class="resp imgHeader" alt=""></div>
        <div class="headerGenerique__bloc">
            <div class="headerGenerique__content">
                <p class="headerGenerique__rubrique">Stockage d’éléctricité et Solutions</p>
                <p class="headerGenerique__title">Blue Solutions,<br />Films Plastiques</p>
            </div>
        </div>
    </section>
    <!-- core:include _ariane.html -->
    <!-- /core -->


    <div class="mainChapeau">
        <div class="mainChapeau__content"><p>À partir de sa position de leader mondial des films plastiques pour condensateurs, le Groupe Bolloré, a mis au point
            une batterie électrique Lithium Métal Polymère (LMP®) de haute performance utilisée dans les nombreuses applications,
            telles que les véhicules électriques, les services d’auto-partages et les solutions stationnaires.</p></div>
    </div>
    <h2 class="mainTitle"><span class="mainTitle__text --titleHead ftUpp mainTitle--blue">blue solutions</span></h2>

    <div class="bloc">

        <div class="bloc__txt">
            <p>
                Cotée en Bourse depuis le 30 octobre 2013, Blue Solutions est la société qui regroupe les activités de stockages d’électricité
                développées par le Groupe Bolloré. Ces solutions de stockages prennent vie dans des applications mobiles
                mais également stationnaires développées et commercialisées par d’autres entités du Groupe réunies au sein
                de Blue Applications.


            </p>
        </div>


        <img src="img/img-content.jpg" alt="" class="resp">
        <h3 class="bloc__title sTitle">batteries LMP</h3>
        <div class="bloc__txt">
            <p>
                Cette batterie fondée sur la technologie Lithium Métal Polymère (LMP®), est le fruit de vingt années de recherche. Le Groupe
                poursuit l'augmentation de la capacité des deux sites de production industrielle de batteries LMP®, developpées
                par Blue Solutions en Bretagne à Ergué Gabéric sur le site historique du Groupe et à Boucherville au Canada.



            </p>
        </div>
        <div class="bloc__txt">
            <p>
                Ces batteries se distinguent par leur puissance, leur forte densité énergétique, leur fort niveau de cyclabilité et leur
                sécurité. Elles équipent d'ores et déjà les Bluebus et les Bluecar®, assurant une autonomie de 250 km.




            </p>
        </div>
        <div class="bloc__txt">
            <p>
                Parallèlement aux applications embarquées, les équipes de recherche et développement ont poursuivi le développement des batteries
                spécifiques pour applications stationnaires à destination des particuliers, des institutions ou des entreprises.
            </p>
        </div>
        <h3 class="bloc__title sTitle">Supercapacités</h3>
        <div class="bloc__txt">
            <p>
                Blue Solutions a développé un autre composant de stockage d'électricité, les supercapacités, qui trouvent leurs principales
                applications dans le développement de transports en communs propres et de voitures hybrides. Blue Solutions
                est un des seuls fabricants au monde de ce type de produits.


            </p>
        </div>
    </div>
    <h2 class="mainTitle"><span class="mainTitle__text --titleHead ftUpp mainTitle--blue">films plastiques</span></h2>

    <div class="bloc">

        <div class="bloc__txt">
            <p>
                Le Groupe Bolloré, à travers la division Films Plastiques est leader mondial du film polypropylène pour condensateurs, composants
                électriques permettant de stocker l'énergie. Les condensateurs sont aussi bien utilisés dans la fabrication
                de produits grand public que dans la construction d'infrastructures.


            </p>
        </div>
        <div class="bloc__txt">
            <p>
                Il a également développé une gamme de films d'emballage thermorétractables ultrafins et résistants, assurant une protection
                efficace et esthétique des produits emballés. Le Groupe figure désormais parmi les trois premiers fabricants
                mondiaux de films pour emballages.
            </p>
        </div>



      
        <div class="player">
            <img src="img/img-player.jpg" alt="player" class="resp">
        </div>



    </div>
    <div class="actuDoc__footer actuDoc__footer--generic">
        <a href="faq.html" class="actuDoc__faqLink faqRight"><i class="fa fa-comments-o" aria-hidden="true"></i> <span class="actuDoc__faqtxt"> Accédez à notre FAQ</span></a>
    </div>
</div>