<div class="content pageFaq">

    <!-- core:include _headerBandeau.html -->
    <!-- /core -->

    <!-- core:include _ariane.html -->
    <!-- /core -->

    <h1 class="mainTitle"><span class="mainTitle__text --titleHead">Lorem ipsum</span></h1>
    <div class="mainChapeau">
        <div class="mainChapeau__content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae massa id ex laoreet consectetur eget sit amet
            lacus. Sed at iaculis erat. Maecenas erat quam, cursus eget molestie vel, hendrerit in mauris. Phasellus eu orci
            vitae turpis congue cursus at vel justo. Quisque non blandit odio, vitae tincidunt risus. Phasellus commodo est
            a mi gravida, eu vulputate nibh auctor. </p></div>
    </div>
    <div class="sousContent">
        <h2 class="secondTitle secondTitle--type1">Lorem ipsum doctor sit amet</h2>

        <h3 class="secondTitle secondTitle--type2 icon-fleche-1"><a href="#" class="faqLink">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae massa?</a></h3>
        <div class="commonText faqBlock">
            <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                qui ratione voluptat. <a href="#">En savoir plus</a></p>
            <ul>
                <li>Quasi architecto beatae vitae dicta sunt explicabo.</li>
                <li>Aspernatur aut odit aut fugit.</li>
                <li>Omnis iste natus error sit voluptatem accusantium.</li>
            </ul>
        </div>

        <h3 class="secondTitle secondTitle--type2 icon-fleche-1"><a href="#" class="faqLink">Id ex laoreet consectetur eget sit amet lacus. Sed at iaculis erat. Maecenas erat quam, cursus eget molestie vel, hendrerit in mauris?</a></h3>
        <div class="commonText faqBlock">
            <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                qui ratione voluptat. <a href="#">En savoir plus</a></p>
            <ul>
                <li>Quasi architecto beatae vitae dicta sunt explicabo.</li>
                <li>Aspernatur aut odit aut fugit.</li>
                <li>Omnis iste natus error sit voluptatem accusantium.</li>
            </ul>
        </div>

        <h3 class="secondTitle secondTitle--type2 icon-fleche-1"><a href="#" class="faqLink">Phasellus eu orci vitae turpis congue cursus at vel justo. Quisque non blandit odio, vitae tincidunt risus. Commodo est a mi gravida, eu vulputate nibh auctor?</a></h3>
        <div class="commonText faqBlock">
            <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                qui ratione voluptat. <a href="#">En savoir plus</a></p>
            <ul>
                <li>Quasi architecto beatae vitae dicta sunt explicabo.</li>
                <li>Aspernatur aut odit aut fugit.</li>
                <li>Omnis iste natus error sit voluptatem accusantium.</li>
            </ul>
        </div>

        <h3 class="secondTitle secondTitle--type2 icon-fleche-1"><a href="#" class="faqLink">Lorem ipsum dolor sit amet, consectetur adipiscing elit, vivamus vitae massa ex laoreet consectetur?</a></h3>
        <div class="commonText faqBlock">
            <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                qui ratione voluptat. <a href="#">En savoir plus</a></p>
            <ul>
                <li>Quasi architecto beatae vitae dicta sunt explicabo.</li>
                <li>Aspernatur aut odit aut fugit.</li>
                <li>Omnis iste natus error sit voluptatem accusantium.</li>
            </ul>
        </div>

        <h3 class="secondTitle secondTitle--type2 icon-fleche-1"><a href="#" class="faqLink">Eget sit amet lacus. Sed at iaculis erat. Maecenas erat quam, cursus eget?</a></h3>
        <div class="commonText faqBlock">
            <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                qui ratione voluptat. <a href="#">En savoir plus</a></p>
            <ul>
                <li>Quasi architecto beatae vitae dicta sunt explicabo.</li>
                <li>Aspernatur aut odit aut fugit.</li>
                <li>Omnis iste natus error sit voluptatem accusantium.</li>
            </ul>
        </div>

        <h2 class="secondTitle secondTitle--type1">Lorem ipsum</h2>

        <h3 class="secondTitle secondTitle--type2 icon-fleche-1"><a href="#" class="faqLink">Molestie vel hendrerit in mauris. Phasellus eu orci vitae turpis congue cursus at vel justo. Quisque non blandit odio, vitae tincidunt risus. Phasellus commodo est a mi gravida, eu vulputate nibh auctor?</a></h3>
        <div class="commonText faqBlock">
            <p>Lorem ipsum Lorem ipsum Lorem ipsum</p>
            <ul>
                <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                <li>Lorem ipsum Lorem ipsum Lorem <a href="#">ipsum</a></li>
            </ul>
        </div>

        <h3 class="secondTitle secondTitle--type2 icon-fleche-1"><a href="#" class="faqLink">Lorem ipsum dolor sit amet, Vivamus vitae massa?</a></h3>
        <div class="commonText faqBlock">
            <p>Lorem ipsum Lorem ipsum Lorem ipsum</p>
            <ul>
                <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                <li>Lorem ipsum Lorem ipsum Lorem <a href="#">ipsum</a></li>
            </ul>
        </div>

        <h3 class="secondTitle secondTitle--type2 icon-fleche-1"><a href="#" class="faqLink">Ex laoreet consectetur eget sit amet lacus. Sed at iaculis erat. Maecenas erat quam, cursus eget molestie vel, hendrerit in mauris?</a></h3>
        <div class="commonText faqBlock">
            <p>Lorem ipsum Lorem ipsum Lorem ipsum</p>
            <ul>
                <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                <li>Lorem ipsum Lorem ipsum Lorem <a href="#">ipsum</a></li>
            </ul>
        </div>

        <h2 class="secondTitle secondTitle--type1">Lorem ipsum doctor sit amet</h2>

        <h3 class="secondTitle secondTitle--type2 icon-fleche-1"><a href="#" class="faqLink">Phasellus eu orci vitae turpis congue cursus at vel justo. Quisque non blandit odio, vitae tincidunt risus. Phasellus commodo est a mi gravida, eu vulputate nibh auctor?</a></h3>
        <div class="commonText faqBlock">
            <p>Lorem ipsum Lorem ipsum Lorem ipsum</p>
            <ul>
                <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                <li>Lorem ipsum Lorem ipsum Lorem <a href="#">ipsum</a></li>
            </ul>
        </div>

        <h3 class="secondTitle secondTitle--type2 icon-fleche-1"><a href="#" class="faqLink">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae massa ex laoreet consectetur?</a></h3>
        <div class="commonText faqBlock">
            <p>Lorem ipsum Lorem ipsum Lorem ipsum</p>
            <ul>
                <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                <li>Lorem ipsum Lorem ipsum Lorem <a href="#">ipsum</a></li>
            </ul>
        </div>

        <h3 class="secondTitle secondTitle--type2 icon-fleche-1"><a href="#" class="faqLink">Eget sit amet lacus. Sed at iaculis erat. Maecenas erat quam, cursus eget?</a></h3>
        <div class="commonText faqBlock">
            <p>Lorem ipsum Lorem ipsum Lorem ipsum</p>
            <ul>
                <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                <li>Lorem ipsum Lorem ipsum Lorem <a href="#">ipsum</a></li>
            </ul>
        </div>

        <h3 class="secondTitle secondTitle--type2 icon-fleche-1"><a href="#" class="faqLink">Molestie vel, hendrerit in mauris. Phasellus eu orci vitae turpis phasellus commodo est a mi gravida, eu vu   lputate nibh auctor?</a></h3>
        <div class="commonText faqBlock">
            <p>Lorem ipsum Lorem ipsum Lorem ipsum</p>
            <ul>
                <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                <li>Lorem ipsum Lorem ipsum Lorem <a href="#">ipsum</a></li>
            </ul>
        </div>
    </div>
    <div class="sousContentFin sousContentFin--right">
        <a class="cta cta--type1" href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>Accédez à notre FAQ</a>
    </div>
</div>