<div class="footer__content">
    <span class="footer__copyright">
        © Bolloré Group, all rights reserved
    </span>
    <ul class="navFooter">
        <li class="navFooter__item"><a href="05-contenu.html" class="navFooter__link">Plan du site</a></li>
        <li class="navFooter__item"><a href="05-contenu.html" class="navFooter__link">Contacts</a></li>
            <li class="navFooter__item"><a href="05-contenu.html" class="navFooter__link">Glossaire</a></li>
        <li class="navFooter__item"><a href="05-contenu.html" class="navFooter__link">Crédits</a></li>
     
        <li class="navFooter__item"><a href="05-contenu.html" class="navFooter__link">Mentions légales</a></li>
    </ul>
</div>