<!-- START Header top-->
<div class="header__top">
    <!-- core:include _headerTop.html -->
    <!-- /core -->
</div>
<!-- END Header top-->
<div class="header__blocSousNav">
    <div class="header__blocWrapperNav">
        <!-- START Header middle second niveau Menu -->
        <div class="header__middle header__middle--off">
            <!-- core:include _nav.html -->
            <!-- /core -->
        </div>
        <!-- END Header middle second niveau Menu -->
        <!-- START Header bottom -->
        <div class="header__bottom header__bottom--off">
            <!-- core:include _navfooter.html -->
            <!-- /core -->
        </div>
    </div>
</div>
<!-- END Header bottom -->