<!--DEBUT HEADER DESKTOP-->
<div class="header__bloc header__bloc--desktop">
    <h1 class="header__tilte hideText">Groupe Bolloré</h1>
    <div class="gridCR pad2">
        <div class="--gridBottom gridCR-col-20--desk gridCR-col-64--tab">
            <div class="header__logo">

                <a href="index.html" class="header__link" title="Accueil"><img class="header__imgLogoBollore resp" alt="Bolloré" src="img/logo.svg" /></a>
            </div>
        </div>
        <div class="gridCR-col-80--desk --gridBottom">
            <div class="header__contentTop">
                <div class="gridCR">
                    <div class="gridCR-col-50--desk">
                        <div class="header__wrapperLeft">
                            <div class="header__infoLeft">
                                <div class="header__bourse --titleGrey1">

                                    <span class="icon-chiffre-1 --titleBlue4"></span>
                                    <span class="header__dataBourseEuro --titleGrey1">2,93</span>


                                    <span class="header__euros">euros</span> /
                                    <span class="header__dataBoursePourcent">+1,45%</span>
                                </div>
                                <div class="header__search">
                                    <form class="search__form" name="search_engine" method="get" action="/recherche.html" enctype="application/x-www-form-urlencoded">
                                        <button type="submit" name="btn_go" class="search__btn bt icon-loupe --titleBlue4"><span class="hideText">rechercher</span></button>
                                        <input type="text" name="txt_search" autocomplete="off" class="search__input" placeholder="Votre recherche" />

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gridCR-col-50--desk txtR">
                        <div class="header__infoRight">
                            <div class="header__langue">
                                <span class="header__spanL header__spanL--on" data-culure="fr"> <a href="/index.html" title="fr">fr</a> </span>
                                <span class="header__spanL" data-culure="en"> <a href="/index.html" title="en">en</a> </span>
                            </div>
                        </div>
                    </div>
                    <div class="gridCR-col-100--desk txtR">

                        <div class="header__menuContainer">

                            <nav class="nav--item-first header__menu">
                                <!--Debut Niveau 1 menu nav-->
                                <ul class="menu__ul--level1" data-level="1">
                                    <li class="menu__li icon-fleche-1" data-menu="smenu1">
                                        <span class="menu__title">Le groupe</span>
                                    </li>

                                    <li class="menu__li icon-fleche-1" data-menu="smenu2" data-footer-href="all-activities.html" data-footer-txt="Toutes les activités">
                                        <span class="menu__title">Activités et participations</span>
                                    </li>

                                    <li class="menu__li  icon-fleche-1" data-menu="smenu3">
                                        <span class="menu__title">Talents</span>

                                    </li>
                                    <li class="menu__li   icon-fleche-1" data-menu="smenu4">
                                        <span class="menu__title">Actionnaires</span>

                                    </li>
                                    <li class="menu__li  icon-fleche-1" data-menu="smenu5">
                                        <span class="menu__title">RSE</span>

                                    </li>
                                    <li class="menu__li icon-fleche-1" data-menu="smenu6">
                                        <span class="menu__title ">Publications &amp; Presse</span>

                                    </li>
                                </ul>
                                <!--Fin Niveau 1 menu nav-->

                            </nav>
                        </div>
                    </div>
                </div>
            </div>





        </div>

    </div>
</div>
<!--FIN HEADER DESKTOP-->
<!--DEBUT HEADER TABLETTE-->
<div class="header__bloc header__bloc--tablette">
</div>
<!--FIN HEADER TABLETTE-->

<!--DEBUT HEADER MOBILE -->
<div class="header__bloc header__bloc--mobile"></div>
<!--FIN HEADER MOBILE -->