<div class="header__bloc">
    <div class="gridCR pad2">
        <div class="--gridBottom gridCR-col-68--desk gridCR-col-64--tab">
            <div class="header__logo">
                <h1 class="header__tilte hideText">Groupe Bolloré </h1>
                <a href="index.html" class="header__link" title="Accueil"><img class="header__imgLogoBollore resp" alt="Bolloré" src="img/logo.svg" /></a>
            </div>
        </div>
        <div class="gridCR-col-100 --gridBottom">
            <div class="gridCR"> 
                <div class="gridCR-col-auto">

                    <div class="header__infoLeft">
                        <div class="header__bourse --titleGrey1">

                            <span class="icon-chiffre-1 --titleBlue4"></span>
                            <span class="header__dataBourseEuro --titleGrey1">2,93</span>


                            <span class="header__euros">euros</span> /
                            <span class="header__dataBoursePourcent">+1,45%</span>
                        </div>
                        <div class="header__search">
                            <form class="search__form" method="get" action="/recherche.html" enctype="application/x-www-form-urlencoded">
                                <button type="submit" name="btn_go" class="search__btn bt icon-loupe --titleBlue4"><span class="hideText">rechercher</span></button>
                                <input type="text" name="txt_search" autocomplete="off"  class="search__input search__input--on" placeholder="Votre recherche" />

                            </form>

                        </div>
                    </div> 
                </div>
                <div class="gridCR-col-auto --full100 txtR">
                    <div class="header__infoRight">
                        <div class="header__langue">
                            <span class="header__spanL header__spanL--on" data-culure="fr"> <a href="/index.html" title="fr">fr</a> </span>
                            <span class="header__spanL" data-culure="en"> <a href="/index.html" title="en">en</a> </span>
                        </div>
                    </div>
                </div>
                <div class="gridCR-col-100 txtR">
                    <nav class="header__menu">
                        <a class="header__close hideText">Close</a>
                        <ul class="menu__ul--level1" data-level="1">
                            <li class="menu__li menu__li--1" data-menu="smenu1">
                                <span class="menu__title">Le groupe</span>
                            </li> 
  
                            <li class="menu__li menu__li--2" data-menu="smenu2" data-footer-href="all-activities.html" data-footer-txt="Toutes les activités"> 
                                <span class="menu__title">Activités et participations</span>
                            </li>

                            <li class="menu__li menu__li--3" data-menu="smenu3">
                                <span class="menu__title">Talents</span>
                             
                            </li>
                            <li class="menu__li menu__li--4"  data-menu="smenu4">
                                <span class="menu__title">Actionnaires RSE</span>
                              
                            </li>
                            <li class="menu__li menu__li--5"  data-menu="smenu5">
                                <span class="menu__title">Publications &amp; Presse</span>
                              
                            </li>
                        </ul>

                    </nav>
                </div>
            </div>





        </div>

    </div>
</div>

