<div class="home">
    <!-- START Slider Bloc-->
    <section class="slider">
        <div class="container--slider">
            <div class="slider__content">
                <ul class="slider__ul">
                    <li class="slider__item">

                        <article class="slider__article">
                            <header class="slider__head">
                                <h2 class="slider__title">Communication</h2>
                            </header>
                            <div class="slider__image">
                                <picture>
                                    <source media="(max-width: 640px)" srcset="img/img-02-mobile.jpg">

                                    <img alt="Communication" class="slider__img resp" src="img/img-02.jpg" />
                                </picture>
                            </div>
                            <div class="slider__push">
                                <h3 class="slider__title2 icon-information">
                                    <span class="slider__sTitle"> Havas</span>
                                </h3>
                                <div class="slider__txt">
                                    <p> L’un des plus grands <br />groupes mondiaux <br />de publicité, digital et conseil<br
                                        /> en communication.</p>
                                </div>
                                <a href="details-information.html" class="slider__link --linkPlus">Plus d'informations</a>
                            </div>
                        </article>
                    </li>
                    <li class="slider__item">
                        <article class="slider__article">
                            <header class="slider__head">
                                <h2 class="slider__title">Bolloré logisticss</h2>
                            </header>
                            <div class="slider__image">
                                <picture>
                                    <source media="(max-width: 640px)" srcset="img/img-01-mobile.jpg">
                                    <img alt="Bolloré logistics" class="slider__img resp" src="img/img-01.jpg" />
                                </picture>
                            </div>
                            <div class="slider__push">
                                <h3 class="slider__title2 icon-noPicto">
                                    <span class="slider__sTitle"> Havas</span>
                                </h3>
                                <div class="slider__txt">
                                    <p> L’un des plus grands groupes mondiaux de publicité, digital et conseil en communication.</p>
                                </div>
                                <a href="details-information.html" class="slider__link --linkPlus">Plus d'informations</a>
                            </div>
                        </article>


                    </li>

                    <li class="slider__item">

                        <article class="slider__article">
                            <header class="slider__head">
                                <h2 class="slider__title">Blue solution</h2>
                            </header>
                            <div class="slider__image">
                                <picture>
                                    <source media="(max-width: 640px)" srcset="img/img-03-mobile.jpg">
                                    <img alt="image 3" class="slider__img resp" src="img/img-03.jpg" />
                                </picture>
                            </div>
                            <div class="slider__push">
                                <h3 class="slider__title2 icon-noPicto">
                                    <span class="slider__sTitle">  Havas</span>
                                </h3>
                                <div class="slider__txt">
                                    <p>
                                        L’un des plus grands groupes mondiaux de publicité, digital et conseil en communication.</p>
                                </div>
                                <a href="details-information.html" class="slider__link --linkPlus">Plus d'informations</a>
                            </div>
                        </article>
                    </li>

                </ul>
                <div class="slider__pagination">
                    <span class="slider__next icon-fleche-1"></span>
                    <span class="slider__prev icon-fleche-1"></span>
                </div>
            </div>
        </div>
    </section>
    <!-- END Slider Bloc-->
    <!-- START GroupeChiffres Bloc-->
    <section class="GroupeChiffres">
        <div class="container--chiffre">
            <div class="gridCR --VgridTop">
                <div class="gridCR-col-42--desk gridCR-col-100--mob gridCR-col-100--tab">
                    <div class="groupe">
                        <div class="groupe__content">
                            <article class="groupe_article">
                                <header class="groupe__head">
                                    <h2 class="groupe__title"><span class="groupe__tilteTxt --titleHead">Le Groupe</span></h2>
                                </header>
                                <div class="groupe__txt">
                                    <p>Créé en 1822, le groupe Bolloré figure parmi les 500 plus grandes compagnies mondiales. Côté en Bourse, il est toujours contrôlé majoritairement par la famille Bolloré.
                                        La stabilité de son actionnariat lui permet de mener une politique d’investissement à long terme. Grâce à sa stratégie de diversification basée sur l’innovation
                                        et sur le développement à l’international, il occuppe aujourd’hui des positions
                                        fortes
                                        dans ses trois activités : le transport et la logistique, la communication,
                                        les solutions de stockage d’électricité.
                                    </p>
                                </div>
                                <footer class="groupe__footer">
                                    <a href="/histoire.html" class="groupe__link --linkN"> En savoir plus</a>
                                </footer>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="gridCR-col-58--desk gridCR-col-100--mob gridCR-col-100--tab">
                    <div class="chiffre">
                        <div class="chiffre__content">
                            <article class="chiffre__article">
                                <header class="chiffre__head">
                                    <h2 class="chiffre__title"><span class="chiffre__titleTxt --titleHead">En chiffres</span></h2>
                                </header>
                                <div class="chiffre__bloc ">
                                    <div class="gridCR --VgridTop">

                                        <div class="gridCR-col-50--desk gridCR-col-100--mob">
                                            <h3 class="chiffre__keyFigure chiffre__keyFigure--logo1 icon-bulle-1 --titleBlue4"><span class="chiffre__h3">58000+</span>
                                                <span class="chiffre__txt">collobarateur répartis<br /> dans <strong>156</strong> pays.</span>
                                            </h3>
                                        </div>
                                        <div class="gridCR-col-50--desk gridCR-col-100--mob">
                                            <h3 class="chiffre__keyFigure chiffre__keyFigure--logo2 icon-bulle-2 --titleBlue4"><span class="chiffre__h3">10,8</span>
                                                <span class="chiffre__txt">milliards d'euros de chiffre <br /> d'affaires en 2015.</span>
                                            </h3>
                                        </div>

                                        <div class="gridCR-col-50--desk gridCR-col-100--mob">
                                            <h3 class="chiffre__keyFigure chiffre__keyFigure--logo3 icon-bulle-3 --titleBlue4"><span class="chiffre__h3">727</span>
                                                <span class="chiffre__txt">millions d'euros de<br /> résultat net.</span>
                                            </h3>
                                        </div>
                                        <div class="gridCR-col-50--desk gridCR-col-100--mob">
                                            <h3 class="chiffre__keyFigure chiffre__keyFigure--logo4 icon-bulle-4 --titleBlue4"><span class="chiffre__h3">11,3</span>
                                                <span class="chiffre__txt">millions d'euros de<br /> captiaux propres.</span>
                                            </h3>
                                        </div>

                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END GroupeChiffres Bloc-->
    <!-- START Activités Bloc-->
    <section class="activites">
        <div class="container--activites">
            <article class="activites__article">
                <header class="activites__head">
                    <h2 class="activites__title"><span class="activites__tilteTxt  --titleGrey1 --titleHead">Nos activités</span></h2>
                </header>
                <div class="activites__content">
                    <div class="gridCR --VgridTop">
                        <div class="gridCR-col-33--desk gridCR-col-100--mob">
                            <div class="capsule capsule--blue1">
                                <article class="capsule__item">
                                    <header class="capsule__head">
                                        <h3 class="capsule__title icon-bulle-5"><span class="capsule__titleTxt  --titleGrey1"><span class="capsule__txt">Transport<br /> &amp; logistique</span></span></h3>
                                    </header>
                                    <footer class="capsule__footer">
                                        <a href="bollore-logistics.html" class="capsule__link --linkN" title="En savoir plus"><span class="capsule__color">En savoir plus</span></a>
                                    </footer>
                                </article>
                            </div>
                        </div>
                        <div class="gridCR-col-33--desk gridCR-col-100--mob">
                            <div class="capsule  capsule--red">
                                <article class="capsule__item">
                                    <header class="capsule__head">
                                        <h3 class="capsule__title icon-bulle-6"><span class="capsule__titleTxt  --titleGrey1"><span class="capsule__txt"> Communication </span></span></h3>
                                    </header>
                                    <footer class="capsule__footer">
                                        <a href="havas.html" class="capsule__link --linkN" title="En savoir plus"><span class="capsule__color">En savoir plus</span></a>
                                    </footer>
                                </article>
                            </div>
                        </div>
                        <div class="gridCR-col-33--desk gridCR-col-100--mob">
                            <div class="capsule  capsule--blue2">
                                <article class="capsule__item">
                                    <header class="capsule__head">
                                        <h3 class="capsule__title icon-bulle-7"><span class="capsule__titleTxt  --titleGrey1"><span class="capsule__txt">Stockage d'électricité<br /> &amp; solutions</span> </span></h3>
                                    </header>
                                    <footer class="capsule__footer">
                                        <a href="blue-solutions.html" class="capsule__link --linkN" title="En savoir plus"><span class="capsule__color">En savoir plus</span></a>
                                    </footer>
                                </article>
                            </div>
                        </div>
                    </div>


                </div>

            </article>
        </div>
    </section>
    <!-- END Activités Bloc-->
    <!-- START Talents Bloc-->
    <section class="talents">
        <div class="container--talents">
            <div class="talents__content">
                <h2 class="talents__title --titleHead"><span class="talents__titleTxt">Talents</span> </h2>
                <div class="talents__button talents__button--offres">
                    <a href="consulter-les-offres.html" target="_blank" class="talents__linkOffres  icon-fleche-2"><span class="talents__linkTxt">Consulter nos offres</span></a>
                </div>
                <div class="talents__button talents__button--linkedin">
                    <a href="consulter-les-offres.html" target="_blank" class="talents__linkOffres  icon-linkedin"><span class="talents__linkTxt">Suivez-nous sur LinkedIn</span></a>
                </div>
            </div>
        </div>
    </section>
    <!-- END Talents Bloc-->
    <!-- START Actionnaires Bloc-->
    <section class="actionnaires">
        <div class="container--actionnaires">
            <h2 class="actionnaires__title"><span class="actionnaires__titleTxt --titleGrey1 --titleHead">Actionnaires</span> </h2>
            <div class="actionnaires__content">
                <div class="gridCR  --VgridTop">
                    <div class="gridCR-col-39--desk gridCR-col-100--mob gridCR-col-100--tab">
                        <article class="cours">
                            <header class="cours__head">
                                <h3 class="cours__title icon-chiffre-2"><span class="cours__titleTxt">Cours en direct</span></h3>
                                <span class="cours__txt">08 NOV. 16 15:52 (PARIS)</span>

                            </header>
                            <footer class="cours__footer">
                                <div class="gridCR">

                                    <div class="gridCR-col-50--desk gridCR-col-100--tab"><span class="cours__euros">2,992 €</span></div>
                                    <div class="gridCR-col-50--desk gridCR-col-100--tab"><span class="cours__pourcent">+0,40 %</span></div>

                                </div>
                            </footer>
                        </article>
                    </div>
                    <div class="gridCR-col-61--desk gridCR-col-100--mob gridCR-col-100--tab">
                        <article class="msg">
                            <header class="msg__head">
                                <h3 class="msg__tilte"><span class="msg__tilteTxt">Message aux actionnaires</span></h3>
                            </header>
                            <div class="msg__txt">
                                <p> Avec un chiffre d’affaires établit à <strong>10,8</strong> milliards d’euros en 2015,<br
                                    /> le groupe Bolloré a réalisé de bons résultats dans ses différents<br /> métiers.</p>
                            </div>
                            <footer class="msg__footer">

                                <a href="/histoire.html" class="msg__link --linkN"><span class="msg__linkTxt">En savoir plus</span></a>
                            </footer>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Actionnaires Bloc-->
    <!-- START Actu Doc Bloc-->
    <section class="actuDoc">
        <div class="container--actuDoc">
            <section class="gridCR --VgridTop">
                <div class="gridCR-col-29--desk gridCR-col-100--tab">
                    <section class="actuDoc__content actuDoc--actualite">
                        <header class="actuDoc__head --headGenric">
                            <h2 class="actuDoc__title"><span class="actuDoc__titleTxt  --titleGrey1 --titleHead">Actualités</span></h2>
                        </header>

                        <ul class="actuDoc__ul">
                            <li class="actuDoc__item">
                                <div class="post">
                                    <article class="post__item">
                                        <header class="post__head">
                                            <h3 class="post__date ftUpp">10 octobre 2017</h3>
                                        </header>
                                        <div class="post__content">
                                            <p> Le groupe Bolloré renforce<br /> sa participation dans Vivendi.</p>
                                        </div>
                                        <footer class="post__footer">
                                            <a href="actualites.html" class="post__link --link">En savoir plus</a>
                                        </footer>
                                    </article>
                                </div>
                            </li>
                            <li class="actuDoc__item">
                                <div class="post">
                                    <article class="post__item">
                                        <header class="post__head">
                                            <h3 class="post__date ftUpp">28 septembre 2017</h3>
                                        </header>
                                        <div class="post__content">
                                            Blue Solution acquiert la start-up <br /> américaine Capacitor Sciences <br />                                            et renforce son programme R&amp;D.
                                        </div>
                                        <footer class="post__footer">
                                            <a href="actualites.html" class="post__link --link">En savoir plus</a>
                                        </footer>
                                    </article>
                                </div>
                            </li>
                        </ul>
                        <footer class="actuDoc__all">
                            <a href="list-actualites.html" class="actuDoc__link">Toutes les actualités</a>
                        </footer>
                    </section>
                </div>
                <div class="gridCR-col-29--desk gridCR-col-50--tab gridCR-col-100--mob">
                    <section class="actuDoc__content actuDoc--documents">
                        <header class="actuDoc__head --headGenric">
                            <h2 class="actuDoc__title"><span class="actuDoc__titleTxt  --titleGrey1 --titleHead">Documents</span></h2>
                        </header>
                        <div class="actuDoc__bloc">
                            <h3 class="actuDoc__sTitle --titleGrey1 --titleHead ftUpp">Comuniqués de presse</h3>
                            <ul class="actuDoc__ul">
                                <li class="actuDoc__item">
                                    <div class="post">
                                        <article class="post__item">
                                            <header class="post__head">
                                                <h3 class="post__date ftUpp">10 octobre 2017</h3>
                                            </header>
                                            <div class="post__content">
                                                Information financière <br /> du troisième trimestre 2017.
                                            </div>
                                            <footer class="post__footer">
                                                <a href="communiques.pdf" class="post__link --link">Télécharger</a>
                                            </footer>
                                        </article>
                                    </div>
                                </li>
                                <li class="actuDoc__item">
                                    <div class="post">
                                        <article class="post__item">
                                            <header class="post__head">
                                                <h3 class="post__date ftUpp">12 OCTOBRE 2017</h3>
                                            </header>
                                            <div class="post__content">
                                                Le groupe Bolloré frabchit le seuil <br /> du capital 15% de Vivendi.
                                            </div>
                                            <footer class="post__footer">
                                                <a href="communiques.pdf" class="post__link --link">Télécharger</a>
                                            </footer>
                                        </article>
                                    </div>
                                </li>
                            </ul>

                            <footer class="actuDoc__all">
                                <a href="list-communiques.html" class="actuDoc__link">Tous les communiqués</a>
                            </footer>
                        </div>
                    </section>
                </div>
                <div class="gridCR-col-40--desk gridCR-col-50--tab gridCR-col-100--mob">
                    <section class="actuDoc__content actuDoc--publications">
                        <header class="actuDoc__head --headGenric">
                            <h2 class="actuDoc__title"><span class="actuDoc__titleTxt --titleGrey1 --titleHead invisible">Publications</span></h2>
                        </header>
                        <div class="actuDoc__bloc">
                            <h3 class="actuDoc__sTitle --titleGrey1 --titleHead ftUpp">publications</h3>

                            <ul class="actuDoc__ul">
                                <li class="actuDoc__item">
                                    <article class="post">
                                        <div class="gridCR">
                                            <div class="gridCR-col-auto">
                                                <div class="post__img">
                                                    <img src="img/pub_0.jpg" class="pub__image resp" alt="publciation 1">
                                                </div>
                                            </div>
                                            <div class="gridCR-col-50--desk">
                                                <div class="post__item">

                                                    <h3 class="post__date ftUpp --titleGrey1">10 janvier 2017</h3>
                                                    <div class="post__content --titleGrey1">
                                                        <p>Document de référence 2016.</p>
                                                    </div>
                                                    <footer class="post__footer">
                                                        <a href="telecharger.html" class="post__link --link">Télécharger</a>
                                                    </footer>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </li>
                                <li class="actuDoc__item">
                                    <article class="post">
                                        <div class="gridCR">
                                            <div class="gridCR-col-auto">
                                                <div class="post__img">
                                                    <img src="img/pub_0.jpg" class="pub__image resp" alt="publciation 1">
                                                </div>
                                            </div>
                                            <div class="gridCR-col-50--desk">
                                                <div class="post__item">

                                                    <h3 class="post__date ftUpp --titleGrey1">10 avril 2017</h3>
                                                    <div class="post__content --titleGrey1">
                                                        <p>Rapport d'activité 2016.</p>
                                                    </div>
                                                    <footer class="post__footer">
                                                        <a href="telecharger.html" class="post__link --link">Télécharger</a>
                                                    </footer>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </li>
                            </ul>

                            <footer class="actuDoc__all">
                                <a href="list-publication.html" class="actuDoc__link">Toutes les publications</a>
                            </footer>
                        </div>
                    </section>
                </div>
                <footer class="actuDoc__footer">
                    <a href="faq.html" class="actuDoc__faqLink"><i class="fa fa-comments-o" aria-hidden="true"></i> <span class="actuDoc__faqtxt"> Accédez à notre FAQ</span></a>
                </footer>
            </section>
        </div>
    </section>
    <!-- END Actu Doc Bloc-->

</div>