<div class="home">
    <!-- START Slider Bloc-->
    <section class="slider">
        <div class="container--slider">
            <div class="slider__content">
                <ul class="slider__ul">
                    <li class="slider__item">

                        <article class="slider__article">
                            <header class="slider__head">
                                <h2 class="slider__title">Communication</h2>
                            </header>

                            <img alt="Communication" class="slider__img resp" src="img/img-02.jpg" />
                            <div class="slider__push">
                                <h3 class="slider__title2 --information">
                                    Havas
                                </h3>
                                <div class="slider__txt">
                                    <p> L’un des plus grands <br />groupes mondiaux <br />de publicité, digital et conseil<br /> en communication.</p>
                                </div>
                                <a href="details-information.html" class="slider__link --linkPlus">Plus d'informations</a>
                            </div>
                        </article>
                    </li>
                    <li class="slider__item">
                        <article class="slider__article">
                            <header class="slider__head">
                                <h2 class="slider__title">Bolloré logisticss</h2>
                            </header>

                            <img alt="Bolloré logistics" class="slider__img resp" src="img/img-01.jpg" />
                            <div class="slider__push">
                                <h3 class="slider__title2">
                                    Havas
                                </h3>
                                <div class="slider__txt">
                                    <p> L’un des plus grands groupes mondiaux de publicité, digital et conseil en communication.</p>
                                </div>
                                <a href="details-information.html" class="slider__link --linkPlus">Plus d'informations</a>
                            </div>
                        </article>


                    </li>

                    <li class="slider__item">

                        <article class="slider__article">
                            <header class="slider__head">
                                <h2 class="slider__title">Blue solution</h2>
                            </header>

                            <img alt="image 3" class="slider__img resp" src="img/img-03.jpg" />
                            <div class="slider__push">
                                <h3 class="slider__title2">
                                    Havas
                                </h3>
                                <div class="slider__txt">
                                    <p>
                                        L’un des plus grands groupes mondiaux de publicité, digital et conseil en communication.</p>
                                </div>
                                <a href="details-information.html" class="slider__link --linkPlus">Plus d'informations</a>
                            </div>
                        </article>
                    </li>

                </ul>
                <div class="slider__pagination">
                    <span class="slider__next icon-fleche-1"></span>
                    <span class="slider__prev icon-fleche-1"></span>
                </div>
            </div>
        </div>
    </section>
    <!-- END Slider Bloc-->
    <!-- START GroupeChiffres Bloc-->
    <section class="GroupeChiffres">
        <div class="container--chiffre">
            <div class="gridCR">
                <div class="gridCR-col-33--desk gridCR-col-100--mob gridCR-col-100--tab">
                    <article class="groupe">
                        <header class="groupe__head">
                            <h2 class="groupe__tilte"><span class="groupe__tilteTxt --titleGrey1">Le Groupe</span></h2>
                        </header>
                        <p class="groupe_txt">Créé en 1822, le groupe Bolloré figure parmi les 500 plus grandes compagnies mondiales. Côté en Bourse, il est toujours contrôlé majoritairement par la famille Bolloré. La stabilité de son actionnariat lui permet de mener une politique
                            d’investissement à long terme. Grâce à sa stratégie de diversification basée sur l’innovation et sur le développement à l’international, il occuppe aujourd’hui des positions fortes dans ses trois activités : le transport et
                            la logistique, la communication, les solutions de stockage d’électricité.
                        </p>
                        <footer class="groupe__footer">
                            <a href="/histoire.html" class="groupe__link --linkPlus"><span class="groupe__linkTxt"> Plus d'informations</span></a>
                        </footer>
                    </article>
                </div>
                <div class="gridCR-col-33--desk gridCR-col-100--mob gridCR-col-100--tab">
                    <article class="chiffre">
                        <header class="chiffre__head">
                            <h2 class="chiffre__tilte"><span class="chiffre_titleTxt">En chiffres</span></h2>
                        </header>
                        <div class="chiffre__bloc ">
                            <ul class="chiffre__ul gridCR">
                                <li class="chiffre__li">
                                    <div class="gridCR-col-50-desk">
                                        <h3 class="chiffre__keyFigure chiffre__keyFigure--logo1">58000+</h3>
                                    </div>
                                    <div class="gridCR-col-50-desk">
                                        <h3 class="chiffre__keyFigure chiffre__keyFigure--logo2">10,8+</h3>
                                    </div>
                                </li>
                                <li class="chiffre__li">
                                    <div class="gridCR-col-50-desk">
                                        <h3 class="chiffre__keyFigure chiffre__keyFigure--logo3">727</h3>
                                    </div>
                                    <div class="gridCR-col-50-desk">
                                        <h3 class="chiffre__keyFigure chiffre__keyFigure--logo4">11,3</h3>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- END GroupeChiffres Bloc-->
    <!-- START Activités Bloc-->
    <section class="activites">
        <div class="container--activites">
            <header class="activites__head">
                <h2 class="activites__title"><span class="activites__tilteTxt --titleGrey1">Nos activités</span></h2>
            </header>
            <div class="activites__content">
                <ul class="activites__ul gridCR">
                    <li class="activites__li">
                        <div class="gridCR-col-33-desk">
                            <div class="capsule">
                                <article class="capsule__item">
                                    <header class="capsule__head">
                                        <h3 class="capsule__title --titleGrey1">Transport &amp; logistique</h3>
                                    </header>
                                    <footer class="capsule__footer">
                                        <a href="bollore-logistics.html" class="capsule__link --linkPlus" title="En savoir plus"><span class="capsule__color">En savoir plus</span></a>
                                    </footer>
                                </article>
                            </div>
                        </div>
                        <div class="activites__capsule gridCR-col-33-desk">
                            <article class="capsule__article capsule__article--blue">
                                <header class="capsule__head">
                                    <h3 class="capsule__title --titleGrey1">Communication</h3>
                                </header>
                                <footer class="capsule__footer">
                                    <a href="havas.html" class="capsule__link --linkPlus" title="En savoir plus"><span class="capsule__color">En savoir plus</span></a>
                                </footer>
                            </article>
                        </div>
                        <div class="activites__capsule gridCR-col-33-desk">
                            <article class="capsule__article capsule__article--red">
                                <header class="capsule__head">
                                    <h3 class="capsule__title --titleGrey1">Stockage d'électricité &amp; solutions</h3>
                                </header>
                                <footer class="capsule__footer">
                                    <a href="blue-solutions.html" class="capsule__link --linkPlus" title="En savoir plus"><span class="capsule__color">En savoir plus</span></a>
                                </footer>
                            </article>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- END Activités Bloc-->
    <!-- START Talents Bloc-->
    <section class="talents">
        <div class="container--talents">
            <div class="talents__content">
                <h2 class="talents__title"><span class="talents__titleTxt">Talents</span> </h2>
                <div class="talents__button talents__button--offres">
                    <a href="consulter-les-offres.html" class="talents__linkOffres"><span class="talents__linkTxt">Consulter nos offres</span></a>
                </div>
                <div class="talents__button talents__button--linkedin">
                    <a href="consulter-les-offres.html" class="talents__linkOffres"><span class="talents__linkTxt">Suivez-nous sur LinkedIn</span></a>
                </div>
            </div>
        </div>
    </section>
    <!-- END Talents Bloc-->
    <!-- START Actionnaires Bloc-->
    <section class="actionnaires">
        <div class="container--actionnaires">
            <h2 class="actionnnaires__head"><span class="actionnaires__tilteTxt">Actionnaires</span> </h2>
            <div class="gridCR">
                <div class="gridCR-col-33--desk gridCR-col-100--mob gridCR-col-100--tab">
                    <article class="cours">
                        <header class="cours__head">
                            <h3 class="cours_tilte"><span class="cours__tilteTxt">Cours en direct</span></h3>
                            <p class="cours">08 NOV. 16 15:52 (PARIS)</p>

                        </header>
                        <footer class="cours__footer">
                            <div class="gridCR">
                                <div class="datasBourse">
                                    <div class="gridCR-col-50--desk"><span class="datasBourse__euro">2,992 €</span></div>
                                    <div class="gridCR-col-50--desk"><span class="datasBourse__pourcent">+0,40 %</span></div>
                                </div>
                            </div>
                        </footer>
                    </article>
                </div>
                <div class="gridCR-col-67--desk gridCR-col-100--mob gridCR-col-100--tab">
                    <article class="msg">
                        <header class="msg__head">
                            <h3 class="msg__tilte"><span class="msg__tilteTxt">Message aux actionnaires</span></h3>
                        </header>
                        <p class="msg__txt">
                            Avec un chiffre d’affaires établit à <strong>10,8</strong> milliards d’euros en 2015, le groupe Bolloré a réalisé de bons résultats dans ses différents métiers.
                        </p>
                        <footer class="msg__footer">

                            <a href="/histoire.html" class="msg__link --linkPlus"><span class="msg__linkTxt">En savoir plus</span></a>
                        </footer>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- END Actionnaires Bloc-->
    <!-- START Actu Doc Bloc-->
    <section class="actuDoc">
        <div class="container--actuDoc">
            <section class="gridCR">
                <div class="gridCR-col-33--desk gridCR-col-100--tab  gridCR-col-100--mob">
                    <section class="actualite">
                        <header class="actualite__head">
                            <h2 class="actualite__title --titleGrey1">Actualités</h2>
                        </header>
                        <ul class="actualite__ul">
                            <li class="actualite__item">
                                <div class="post">
                                    <article class="post__item">
                                        <header class="post__head">
                                            <h3 class="post__date ftUpp">10 octobre 2017</h3>
                                        </header>
                                        <div class="post__content">
                                            Le groupe Bolloré renforce sa participation dans Vivendi.
                                        </div>
                                        <footer class="post__footer">
                                            <a href="actualites.html" class="post__link --link">En savoir plus</a>
                                        </footer>
                                    </article>
                                </div>
                            </li>
                            <li class="actualite__item">
                                <div class="post">
                                    <article class="post__item">
                                        <header class="post__head">
                                            <h3 class="post__date ftUpp">28 septembre 2017</h3>
                                        </header>
                                        <div class="post__content">
                                            Blue Solution acquiert la start-up américaine Capacitor Sciences et renforce son programme R&amp;D.
                                        </div>
                                        <footer class="post__footer">
                                            <a href="actualites.html" class="post__link --link">En savoir plus</a>
                                        </footer>
                                    </article>
                                </div>
                            </li>
                        </ul>
                        <footer class="actualite__all">
                            <a href="list-actualites.html" class="actualite__link">Toutes les actualités</a>
                        </footer>
                    </section>
                </div>
                <div class="gridCR-col-67--desk gridCR-col-100--tab  gridCR-col-100--mob">
                    <section class="documents">
                        <header class="documents__head">
                            <h2 class="documents_title">Documents</h2>
                        </header>
                        <div class="gridCR">
                            <div class="gridCR-col-50--desk">
                                <section class="communique">
                                    <header class="">
                                        <h3 class="communique__title ftUpp --titleBlue8"> comunniqués de presse</h3>
                                    </header>
                                    <ul class="presse">
                                        <li class="presse__item">
                                            <article class="presse__article">
                                                <header class="presse__head">

                                                    <h4 class="presse__date ftUpp --titleGrey1">10 octobre 2017</h4>
                                                </header>
                                                <div class="presse__content --titleGrey1">
                                                    <p>Information financière du troisième trimestre 2017.</p>
                                                </div>
                                                <footer class="presse__telecharger">
                                                    <a href="telecharger.html" class="presse__link --link">Télécharger</a>
                                                </footer>
                                            </article>
                                        </li>
                                        <li class="presse__item">

                                            <article class="presse__article">
                                                <header class="presse__head">

                                                    <h4 class="presse__date ftUpp --titleGrey1">12 octobre 2017</h4>

                                                </header>
                                                <div class="presse__content --titleGrey1">
                                                    <p>Information financière du troisième trimestre 2017.</p>
                                                </div>
                                                <footer class="presse__telecharger">
                                                    <a href="telecharger.html" class="presse__link --link">Télécharger</a>
                                                </footer>
                                            </article>

                                        </li>
                                    </ul>
                                </section>
                            </div>
                            <div class="gridCR-col-50--desk">
                                <section class="publications">
                                    <header class="publications__head">
                                        <h2 class="publications__title  ftUpp --titleBlue8">Publications</h2>
                                    </header>
                                    <ul class="publications__ul">
                                        <li class="publications__item">
                                            <article class="pub">
                                                <div class="gridCR">
                                                    <div class="gridCR-col-50--desk">
                                                        <div class="pub__img">
                                                            <img src="img/pub_0.jpg" class="pub__image" alt="publciation 1" />
                                                        </div>
                                                    </div>
                                                    <div class="gridCR-col-50--desk">
                                                        <div class="pub__content">

                                                            <h3 class="pub__date ftUpp --titleGrey1">10 janvier 2017</h3>
                                                            <div class="pub__content --titleGrey1">
                                                                <p>Information financière du troisième trimestre 2017.</p>
                                                            </div>
                                                            <footer class="pub__telecharger">
                                                                <a href="telecharger.html" class="pub__link --link">Télécharger</a>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </li>
                                        <li class="publications__item">
                                            <article class="pub">
                                                <div class="gridCR">
                                                    <div class="gridCR-col-50--desk">
                                                        <div class="pub__img">
                                                            <img src="img/pub_0.jpg" class="pub__image" alt="publciation 1" />
                                                        </div>
                                                    </div>
                                                    <div class="gridCR-col-50--desk">
                                                        <div class="pub__content">

                                                            <h3 class="pub__date ftUpp --titleGrey1">10 avril 2017</h3>
                                                            <div class="pub__content --titleGrey1">
                                                                <p>Rapport d'activité 2016.</p>
                                                            </div>
                                                            <footer class="pub__telecharger">
                                                                <a href="telecharger.html" class="pub__link --link">Télécharger</a>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </li>
                                    </ul>
                                    <footer class="publications__all">
                                        <a href="" class="publications__link">Toutes les publications</a>
                                    </footer>
                                </section>
                            </div>
                        </div>
                    </section>
                </div>
            </section>

        </div>
    </section>
    <!-- END Actu Doc Bloc-->

</div>