<div class="content pageInformations">
    <!-- core:include _headerBandeau.html -->
    <!-- /core -->

    <!-- core:include _ariane.html -->
    <!-- /core -->

    <h1 class="mainTitle">
        <span class="mainTitle__text --titleHead">Lorem ipsum</span>
    </h1>
    <div class="mainChapeau">
        <div class="mainChapeau__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae massa id ex laoreet consectetur eget sit amet lacus. Sed at iaculis erat. Maecenas erat quam, cursus eget molestie vel, hendrerit in mauris. Phasellus eu orci vitae turpis
                congue cursus at vel justo. Quisque non blandit odio, vitae tincidunt risus. Phasellus commodo est a mi gravida, eu vulputate nibh auctor.</p>
        </div>
    </div>

    <div id="appfiltre" class="sousContent sousContent__informations">

        <ul class="filtreAnnee" v-if="json.data !=null">

            <li v-for="item in json.data.years" class="filtreAnnee__item">
                <a v-bind:class="[item.selected ? 'filtreAnnee__lien--on' : '']" @click.prevent="loadDataYear($event,item)" href="javascript:void(0)" class="filtreAnnee__lien">
                    <span class="linkTxtAnim">{{item.label}}</span>
                </a>
            </li>

        </ul>

        <div class="filtreDocumentsBox">
            <div class="filtreDocuments filtreDocuments--mobile" v-if="json.data !=null">
                <span class="selectWrapper icon-fleche-2">
                    <select class="select--reset" v-model="currentYear"  v-if="json.data !=null" v-on:change="loadDataYear($event)" >
                      
                        <option v-for="item in json.data.years" v-bind:value="item.slug">{{item.label}}</option>
                      
                    </select>
                </span>
            </div>

            <div class="filtreDocuments filtreDocuments--mobile" v-if="json.data !=null">
                <span class="selectWrapper icon-fleche-2">
                    <select class="select--reset" v-if="json.data !=null" v-on:change="loadDataYear($event)" >
                       
                    
                        <option  v-for="item in json.data.thematique" v-bind:value="item.thematique_id">{{item.thematique_name}}</option>
                    </select>
                </span>
            </div>
        </div>

        <div class="containerListeDocs" v-if="json.data !=null">
            <div class="listeDocs" v-if="item !=null &&  json.data[currentYear][item.thematique_id] !=null " v-for="item in json.data.thematique">
                <h2 class="mainTitle" v-if="item.thematique_name!= ''">
                    <span class="mainTitle__text --titleHead mainTitle--blue"> {{item.thematique_name}} </span>
                </h2>

                <ul class="listeDocs__bloc" v-if="json.data !=null">

                    <li class="listeDocs__item" v-bind:class="[animBloc ? 'listeDocs__item--anim' : '']" v-for="p in json.data[currentYear][item.thematique_id]">
                        <div class="listeDocs__visuelBloc">
                            <img v-bind:src="p.image_url" v-bind:alt="p.description" class="listeDocs__visuel">
                        </div>
                        <div class="listeDocs__content">
                            <datetime class="listeDocs__time">{{p.date_label}}</datetime>
                            <p class="listeDocs__titre">{{p.description}}</p>
                            <p>
                                <a v-bind:href="p.link_url" class="listeDocs__lien --link">{{p.link_title}}</a>
                            </p>
                        </div>
                    </li>

                </ul>

                <p class="listeDocs__voirPlus">
                    <a class="link__plus" href="javascript:void(0)">
                        <span class="linkTxtAnim">Voir +</span>
                    </a>
                </p>
            </div>

        </div>

        <div class="listeDocs listeDocs--noTitle">
            <div class="listeDocs__subBloc">
                <div class="listeDocs__detailDoc">
                    <h2 class="actuDoc__title listeDocs__mainTitre">
                        <span class="actuDoc__titleTxt --titleGrey1 --titleHead">Assemblées générales</span>
                    </h2>
                    <div class="listeDocs__flexTablette">
                        <div class="listeDocs__video">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/jG2m07xRkrg" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="listeDocs__content">
                            <datetime class="listeDocs__time">10 Octobre 2017</datetime>
                            <p class="listeDocs__titre">Le Groupe Bolloré renforce sa participation dans Vivendi</p>
                            <p>
                                <a href="#" class="listeDocs__lien --link">En savoir plus</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="listeDocs__documents listeDocs__slideshowmobile" data-slideitem="listeDocs__item">
                    <h2 class="actuDoc__title listeDocs__mainTitre">
                        <span class="actuDoc__titleTxt --titleGrey1 --titleHead">Publications</span>
                    </h2>
                    <ul class="listeDocs__bloc">
                        <li class="listeDocs__item">
                            <div class="listeDocs__visuelBloc">
                                <img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel">
                            </div>
                            <div class="listeDocs__content">
                                <datetime class="listeDocs__time">10 Avril 2017</datetime>
                                <p class="listeDocs__titre">Rapport d'activité 2016.1</p>
                                <p>
                                    <a href="#" class="listeDocs__lien --link">Télécharger</a>
                                </p>
                            </div>
                        </li>
                        <li class="listeDocs__item">
                            <div class="listeDocs__visuelBloc">
                                <img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel">
                            </div>
                            <div class="listeDocs__content">
                                <datetime class="listeDocs__time">11 Avril 2017</datetime>
                                <p class="listeDocs__titre">Rapport d'activité 2016.2</p>
                                <p>
                                    <a href="#" class="listeDocs__lien --link">Télécharger</a>
                                </p>
                            </div>
                        </li>
                        <li class="listeDocs__item">
                            <div class="listeDocs__visuelBloc">
                                <img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel">
                            </div>
                            <div class="listeDocs__content">
                                <datetime class="listeDocs__time">12 Avril 2017</datetime>
                                <p class="listeDocs__titre">Rapport d'activité 2016.3</p>
                                <p>
                                    <a href="#" class="listeDocs__lien --link">Télécharger</a>
                                </p>
                            </div>
                        </li>
                        <li class="listeDocs__item">
                            <div class="listeDocs__visuelBloc">
                                <img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel">
                            </div>
                            <div class="listeDocs__content">
                                <datetime class="listeDocs__time">13 Avril 2017</datetime>
                                <p class="listeDocs__titre">Rapport d'activité 2016.4</p>
                                <p>
                                    <a href="#" class="listeDocs__lien --link">Télécharger</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                    <p>
                        <a class="listeDocs__lien --link" href="#">Toutes les publications</a>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="actuDoc__footer actuDoc__footer--generic">
        <a href="faq.html" class="actuDoc__faqLink --linkF">
            <i class="fa fa-comments-o linkTxtAnim" aria-hidden="true"></i>
            <span class="actuDoc__faqtxt linkTxtAnim"> Accédez à notre FAQ</span>
        </a>
    </div>
</div>