<div class="content pageInformations">
    <!-- core:include _headerBandeau.html -->
    <!-- /core -->

    <!-- core:include _ariane.html -->
    <!-- /core -->

    <h1 class="mainTitle"><span class="mainTitle__text --titleHead">Lorem ipsum</span></h1>
    <div class="mainChapeau">
        <div class="mainChapeau__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae massa id ex laoreet consectetur eget sit amet lacus. Sed at iaculis erat. Maecenas erat quam, cursus eget molestie vel, hendrerit in mauris. Phasellus eu orci vitae turpis
                congue cursus at vel justo. Quisque non blandit odio, vitae tincidunt risus. Phasellus commodo est a mi gravida, eu vulputate nibh auctor.</p>
        </div>
    </div>

    <div class="sousContent sousContent__informations">
        <ul class="filtreAnnee">
            <li class="filtreAnnee__item"><a href="javascript:void(0)" class="filtreAnnee__lien"><span class="linkTxtAnim">Toutes</span></a></li>
            <li class="filtreAnnee__item"><a href="javascript:void(0)" class="filtreAnnee__lien"><span class="linkTxtAnim">2017</span></a></li>
            <li class="filtreAnnee__item"><a href="javascript:void(0)" class="filtreAnnee__lien"><span class="linkTxtAnim">2016</span></a></li>
            <li class="filtreAnnee__item"><a href="javascript:void(0)" class="filtreAnnee__lien"><span class="linkTxtAnim">2015</span></a></li>
            <li class="filtreAnnee__item"><a href="javascript:void(0)" class="filtreAnnee__lien"><span class="linkTxtAnim">2014</span></a></li>
            <li class="filtreAnnee__item"><a href="javascript:void(0)" class="filtreAnnee__lien"><span class="linkTxtAnim">2013</span></a></li>
            <li class="filtreAnnee__item"><a href="javascript:void(0)" class="filtreAnnee__lien"><span class="linkTxtAnim">2012</span></a></li>
            <li class="filtreAnnee__item"><a href="javascript:void(0)" class="filtreAnnee__lien"><span class="linkTxtAnim">2011</span></a></li>
            <li class="filtreAnnee__item"><a href="javascript:void(0)" class="filtreAnnee__lien"><span class="linkTxtAnim">2010</span></a></li>
            <li class="filtreAnnee__item"><a href="javascript:void(0)" class="filtreAnnee__lien"><span class="linkTxtAnim">2009</span></a></li>
            <li class="filtreAnnee__item"><a href="javascript:void(0)" class="filtreAnnee__lien"><span class="linkTxtAnim">2008</span></a></li>
            <li class="filtreAnnee__item"><a href="javascript:void(0)" class="filtreAnnee__lien"><span class="linkTxtAnim">2007</span></a></li>
            <li class="filtreAnnee__item"><a href="javascript:void(0)" class="filtreAnnee__lien"><span class="linkTxtAnim">2006</span></a></li>
            <li class="filtreAnnee__item"><a href="javascript:void(0)" class="filtreAnnee__lien"><span class="linkTxtAnim">2005</span></a></li>
            <li class="filtreAnnee__item"><a href="javascript:void(0)" class="filtreAnnee__lien"><span class="linkTxtAnim">2004</span></a></li>
            <li class="filtreAnnee__item"><a href="javascript:void(0)" class="filtreAnnee__lien"><span class="linkTxtAnim">2003</span></a></li>
        </ul>

        <div class="filtreDocumentsBox">
            <div class="filtreDocuments filtreDocuments--mobile">
                <span class="selectWrapper icon-fleche-2">
                    <select class="select--reset">
                        <option value="0">Années</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                    </select>
                </span>
            </div>

            <div class="filtreDocuments filtreDocuments--mobile">
                <span class="selectWrapper icon-fleche-2">
                    <select class="select--reset">
                        <option value="0">Types de documents</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                    </select>
                </span>
            </div>
        </div>

        <div class="listeDocs">
            <h2 class="mainTitle"><span class="mainTitle__text --titleHead mainTitle--blue">Informations périodiques</span></h2>

            <ul class="listeDocs__bloc">
                <li class="listeDocs__item">
                    <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                    <div class="listeDocs__content">
                        <datetime class="listeDocs__time">10 Avril 2017</datetime>
                        <p class="listeDocs__titre">Résultats du 1er trimestre 2016</p>
                        <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                    </div>
                </li>
                <li class="listeDocs__item">
                    <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                    <div class="listeDocs__content">
                        <datetime class="listeDocs__time">10 Avril 2017</datetime>
                        <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                        <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                    </div>
                </li>
                <li class="listeDocs__item">
                    <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                    <div class="listeDocs__content">
                        <datetime class="listeDocs__time">10 Avril 2017</datetime>
                        <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                        <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                    </div>
                </li>
                <li class="listeDocs__item">
                    <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                    <div class="listeDocs__content">
                        <datetime class="listeDocs__time">10 Avril 2017</datetime>
                        <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                        <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                    </div>
                </li>
                <li class="listeDocs__item">
                    <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                    <div class="listeDocs__content">
                        <datetime class="listeDocs__time">10 Avril 2017</datetime>
                        <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                        <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                    </div>
                </li>
                <li class="listeDocs__item">
                    <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                    <div class="listeDocs__content">
                        <datetime class="listeDocs__time">10 Avril 2017</datetime>
                        <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                        <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                    </div>
                </li>
                <li class="listeDocs__item">
                    <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                    <div class="listeDocs__content">
                        <datetime class="listeDocs__time">10 Avril 2017</datetime>
                        <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                        <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                    </div>
                </li>
                <li class="listeDocs__item">
                    <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                    <div class="listeDocs__content">
                        <datetime class="listeDocs__time">10 Avril 2017</datetime>
                        <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                        <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                    </div>
                </li>
                <li class="listeDocs__item">
                    <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                    <div class="listeDocs__content">
                        <datetime class="listeDocs__time">10 Avril 2017</datetime>
                        <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                        <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                    </div>
                </li>
                <li class="listeDocs__item">
                    <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                    <div class="listeDocs__content">
                        <datetime class="listeDocs__time">10 Avril 2017</datetime>
                        <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                        <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                    </div>
                </li>
                <li class="listeDocs__item">
                    <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                    <div class="listeDocs__content">
                        <datetime class="listeDocs__time">10 Avril 2017</datetime>
                        <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                        <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                    </div>
                </li>
                <li class="listeDocs__item">
                    <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                    <div class="listeDocs__content">
                        <datetime class="listeDocs__time">10 Avril 2017</datetime>
                        <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                        <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                    </div>
                </li>
                <li class="listeDocs__item">
                    <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                    <div class="listeDocs__content">
                        <datetime class="listeDocs__time">10 Avril 2017</datetime>
                        <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                        <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                    </div>
                </li>
                <li class="listeDocs__item">
                    <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                    <div class="listeDocs__content">
                        <datetime class="listeDocs__time">10 Avril 2017</datetime>
                        <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                        <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                    </div>
                </li>
                <li class="listeDocs__item">
                    <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                    <div class="listeDocs__content">
                        <datetime class="listeDocs__time">10 Avril 2017</datetime>
                        <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                        <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                    </div>
                </li>
                <li class="listeDocs__item">
                    <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                    <div class="listeDocs__content">
                        <datetime class="listeDocs__time">10 Avril 2017</datetime>
                        <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                        <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                    </div>
                </li>
                <li class="listeDocs__item">
                    <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                    <div class="listeDocs__content">
                        <datetime class="listeDocs__time">10 Avril 2017</datetime>
                        <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                        <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                    </div>
                </li>
                <li class="listeDocs__item">
                    <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                    <div class="listeDocs__content">
                        <datetime class="listeDocs__time">10 Avril 2017</datetime>
                        <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                        <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                    </div>
                </li>

            </ul>

            <p class="listeDocs__voirPlus"><a class="link__plus" href="javascript:void(0)"><span class="linkTxtAnim">Voir +</span></a></p>
        </div>

        <div class="listeDocs">
            <h2 class="mainTitle"><span class="mainTitle__text --titleHead mainTitle--blue">Présentations des comptes</span></h2>

            <ul class="listeDocs__bloc">
                <li class="listeDocs__item">
                    <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                    <div class="listeDocs__content">
                        <datetime class="listeDocs__time">10 Avril 2017</datetime>
                        <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                        <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                    </div>
                </li>
                <li class="listeDocs__item">
                    <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                    <div class="listeDocs__content">
                        <datetime class="listeDocs__time">10 Avril 2017</datetime>
                        <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                        <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                    </div>
                </li>
            </ul>

            <p class="listeDocs__voirPlus"><a class="link__plus" href="javascript:void(0)"><span class="linkTxtAnim">Voir +</span></a></p>
        </div>


        <div class="listeDocs">
            <h2 class="mainTitle"><span class="mainTitle__text --titleHead mainTitle--blue">Déclarations d'opérations sur titres</span></h2>

            <ul class="listeDocs__bloc">
                <li class="listeDocs__item">
                    <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                    <div class="listeDocs__content">
                        <datetime class="listeDocs__time">10 Avril 2017</datetime>
                        <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                        <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                    </div>
                </li>
                <li class="listeDocs__item">
                    <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                    <div class="listeDocs__content">
                        <datetime class="listeDocs__time">10 Avril 2017</datetime>
                        <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                        <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                    </div>
                </li>

            </ul>

            <p class="listeDocs__voirPlus"><a class="link__plus" href="javascript:void(0)"><span class="linkTxtAnim">Voir +</span></a></p>
        </div>

        <div class="listeDocs listeDocs--noTitle">
            <div class="listeDocs__subBloc">
                <div class="listeDocs__detailDoc">
                    <h2 class="actuDoc__title listeDocs__mainTitre"><span class="actuDoc__titleTxt --titleGrey1 --titleHead">Assemblées générales</span></h2>
                    <div class="listeDocs__flexTablette">
                        <div class="listeDocs__video">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/jG2m07xRkrg" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="listeDocs__content">
                            <datetime class="listeDocs__time">10 Octobre 2017</datetime>
                            <p class="listeDocs__titre">Le Groupe Bolloré renforce sa participation dans Vivendi</p>
                            <p><a href="#" class="listeDocs__lien --link">En savoir plus</a></p>
                        </div>
                    </div>
                </div>
                <div class="listeDocs__documents listeDocs__slideshowmobile" data-slideitem="listeDocs__item">
                    <h2 class="actuDoc__title listeDocs__mainTitre"><span class="actuDoc__titleTxt --titleGrey1 --titleHead">Publications</span></h2>
                    <ul class="listeDocs__bloc">
                        <li class="listeDocs__item">
                            <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                            <div class="listeDocs__content">
                                <datetime class="listeDocs__time">10 Avril 2017</datetime>
                                <p class="listeDocs__titre">Rapport d'activité 2016.1</p>
                                <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                            </div>
                        </li>
                        <li class="listeDocs__item">
                            <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                            <div class="listeDocs__content">
                                <datetime class="listeDocs__time">11 Avril 2017</datetime>
                                <p class="listeDocs__titre">Rapport d'activité 2016.2</p>
                                <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                            </div>
                        </li>
                        <li class="listeDocs__item">
                            <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                            <div class="listeDocs__content">
                                <datetime class="listeDocs__time">12 Avril 2017</datetime>
                                <p class="listeDocs__titre">Rapport d'activité 2016.3</p>
                                <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                            </div>
                        </li>
                        <li class="listeDocs__item">
                            <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                            <div class="listeDocs__content">
                                <datetime class="listeDocs__time">13 Avril 2017</datetime>
                                <p class="listeDocs__titre">Rapport d'activité 2016.4</p>
                                <p><a href="#" class="listeDocs__lien --link">Télécharger</a></p>
                            </div>
                        </li>
                    </ul>
                    <p><a class="listeDocs__lien --link" href="#">Toutes les publications</a></p>
                </div>
            </div>
        </div>

    </div>

    <div class="actuDoc__footer actuDoc__footer--generic">
        <a href="faq.html" class="actuDoc__faqLink --linkF"><i class="fa fa-comments-o linkTxtAnim" aria-hidden="true"></i> <span class="actuDoc__faqtxt linkTxtAnim"> Accédez à notre FAQ</span></a>
    </div>
</div>