
<script type='text/javascript'>
/* <![CDATA[ */
var apiConfig = {"ajaxUrlGetDocuments":"https:\/\/refonte2017.bollore.intranet\/fr\/wp-json\/api-hdf\/v1\/get-documents\/","ajaxUrlGetInfosReglementees":"https:\/\/refonte2017.bollore.intranet\/fr\/wp-json\/api-hdf\/v1\/get-infos-reglementees\/","ajaxUrlSendContact":"https:\/\/refonte2017.bollore.intranet\/fr\/wp-json\/api-hdf\/v1\/send-contact\/"};
/* ]]> */
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
   window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>');
</script>
<script src="js/jquery.animateNumber.min.js"></script>

<script src="js/app.bollore.js"></script>
<script src="js/app.bollore.rth.js"></script>

<script src="js/plugins.js"></script>
<script src="js/vendors/picturefill.js"></script>
<script src="js/vendors/vue.min.js"></script>


