<div class="pageDocuments">
    <!-- core:include _headerBandeau.html -->
    <!-- /core -->

    <!-- core:include _ariane.html -->
    <!-- /core -->

    <h1 class="mainTitle"><span class="mainTitle__text --titleHead">Lorem ipsum</span></h1>
    <div class="mainChapeau">
        <p class="mainChapeau__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae massa id ex laoreet consectetur eget sit amet
            lacus. Sed at iaculis erat. Maecenas erat quam, cursus eget molestie vel, hendrerit in mauris. Phasellus eu orci
            vitae turpis congue cursus at vel justo. Quisque non blandit odio, vitae tincidunt risus. Phasellus commodo est
            a mi gravida, eu vulputate nibh auctor. </p>
    </div>


    <div class="sousContent sousContent__documents">

        <div class="filtreDocumentsBox">
            <div class="filtreDocuments">
                <span class="selectWrapper icon-fleche-2">
                    <select class="select--reset">
                        <option value="0">Années</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                    </select>
                </span>
            </div>

            <div class="filtreDocuments">
                <span class="selectWrapper icon-fleche-2">
                    <select class="select--reset">
                        <option value="0">Types de documents</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                    </select>
                </span>
            </div>
        </div>

        <ul class="listeDocs__bloc listeDocs__bloc--smaller">
            <li class="listeDocs__item listeDocs__item--bigger">
                <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                <div class="listeDocs__content">
                    <datetime class="listeDocs__time">10 Avril 2017</datetime>
                    <p class="listeDocs__titre">Résultats du 1er trimestre 2016</p>
                    <p><a href="#" class="listeDocs__lien">Télécharger</a></p>
                </div>
            </li>
            <li class="listeDocs__item listeDocs__item--bigger">
                <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                <div class="listeDocs__content">
                    <datetime class="listeDocs__time">10 Avril 2017</datetime>
                    <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                    <p><a href="#" class="listeDocs__lien">Télécharger</a></p>
                </div>
            </li>
            <li class="listeDocs__item listeDocs__item--bigger">
                <div class="listeDocs__content">
                    <datetime class="listeDocs__time">28 Septembre 2017</datetime>
                    <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                    <p><a href="#" class="listeDocs__lien">Télécharger</a></p>
                </div>
            </li>
            <li class="listeDocs__item listeDocs__item--bigger">
                <div class="listeDocs__content">
                    <datetime class="listeDocs__time">10 Octobre 2017</datetime>
                    <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                    <p><a href="#" class="listeDocs__lien">Télécharger</a></p>
                </div>
            </li>
            <li class="listeDocs__item listeDocs__item--bigger">
                <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                <div class="listeDocs__content">
                    <datetime class="listeDocs__time">10 Avril 2017</datetime>
                    <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                    <p><a href="#" class="listeDocs__lien">Télécharger</a></p>
                </div>
            </li>
            <li class="listeDocs__item listeDocs__item--bigger">
                <div class="listeDocs__content">
                    <datetime class="listeDocs__time">28 Septembre 2017</datetime>
                    <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                    <p><a href="#" class="listeDocs__lien">Télécharger</a></p>
                </div>
            </li>
            <li class="listeDocs__item listeDocs__item--bigger">
                <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                <div class="listeDocs__content">
                    <datetime class="listeDocs__time">10 Avril 2017</datetime>
                    <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                    <p><a href="#" class="listeDocs__lien">Télécharger</a></p>
                </div>
            </li>
            <li class="listeDocs__item listeDocs__item--bigger">
                <div class="listeDocs__visuelBloc"><img src="img/exemple_document.jpg" alt="Télécharger le Rapport d'activité 2016" class="listeDocs__visuel"></div>
                <div class="listeDocs__content">
                    <datetime class="listeDocs__time">10 Avril 2017</datetime>
                    <p class="listeDocs__titre">Rapport d'activité 2016.</p>
                    <p><a href="#" class="listeDocs__lien">Télécharger</a></p>
                </div>
            </li>

        </ul>
    </div>

    <div class="sousContentFin sousContentFin--right">
        <a class="cta cta--type1" href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>Accédez à notre FAQ</a>
    </div>
</div>