<nav class="secondMenu pad2">
    <div class="close">
        <div class="close__left"></div>
        <div class="close__right"></div>
    </div>
    <div class="secondMenu__item secondMenu__item--off" data-menu="smenu1">
        <ul class="secondMenu__ul secondMenu__ul--level1 gridCR --VgridTop">
            <li class="secondMenu__li secondMenu__li--1 gridCR-col-20--desk">
                <span class="secondMenu__title">En bref</span>
                <ul class="secondMenu__ul--level2">
                    <li class="secondMenu__li--1 ">
                        <a href="histoire.html" class="secondMenu__link" title="Histoire"> <span class="secondMenu__title">Histoire</span></a>
                    </li>
                    <li class="secondMenu__li--2">
                        <a href="film-instutionnel.html" class="secondMenu__link" title="Film Institutionnel"><span class="secondMenu__title">Film Institutionnel</span></a>
                    </li>

                </ul>

            </li>
            <li class="secondMenu__li secondMenu__li--2 gridCR-col-20--desk">
                <a class="secondMenu__link" href="presence-internationale.html" title="Présence internationale"> <span class="secondMenu__title">Présence internationale</span> </a>

            </li>
            <li class="secondMenu__li secondMenu__li--3 gridCR-col-20--desk">
                <a class="secondMenu__link" href="gouvernance.html"> <span class="secondMenu__title">Gouvernance</span></a>

            </li>
            <li class="secondMenu__li secondMenu__li--4 gridCR-col-20--desk">
                <span class="secondMenu__title">Philanthropie</span>
                <ul class="secondMenu__ul--level2">
                    <li class="secondMenu__li--1 ">
                        <a href="fondation.html" class="secondMenu__link" title="Fondation / Earth / Foyer Jean Bosco"> <span class="secondMenu__title">Fondation / Earth / Foyer Jean Bosco</span></a>
                    </li>

                </ul>
            </li>

        </ul>

    </div>
    <div class="secondMenu__item secondMenu__item--off" data-menu="smenu2">
        <ul class="secondMenu__ul secondMenu__ul--level1 gridCR --VgridTop">
            <li class="secondMenu__li secondMenu__li--1 gridCR-col-20--desk">
                <span class="secondMenu__title">Transport et logistique</span>
                <ul class="secondMenu__ul--level2">
                    <li class="secondMenu__li--1 ">
                        <a href="bollore-logistics.html" class="secondMenu__link" title="Bolloré Logistics"> <span class="secondMenu__title">Bolloré Logistics</span></a>
                    </li>
                    <li class="secondMenu__li--2">
                        <a href="bollore-africa.html" class="secondMenu__link" title="Bolloré Africa Logistics"><span class="secondMenu__title">Bolloré Africa Logistics</span></a>
                    </li>
                    <li class="secondMenu__li--3">
                        <a href="bollore-energy.html" class="secondMenu__link" title="Bolloré Energy"><span class="secondMenu__title">Bolloré Energy</span></a>
                    </li>

                </ul>


            </li>
            <li class="secondMenu__li secondMenu__li--2 gridCR-col-20--desk">
                <span class="secondMenu__title">Communication</span>
                <ul class="secondMenu__ul--level2">
                    <li class="secondMenu__li--1"><a href="havas.html" class="secondMenu__link" title="Havas"><span class="secondMenu__title">Havas</span></a></li>
                    <li class="secondMenu__li--2">
                        <a href="direct-matin.html" class="secondMenu__link" title="Bolloré Africa Logistics"><span class="secondMenu__title">Direct Matin</span></a>
                    </li>
                    <li class="secondMenu__li--3"><a href="telecoms.html" class="secondMenu__link" title="Télécoms"><span class="secondMenu__title">Télécoms</span></a></li>
                    <li class="secondMenu__li--4"><a href="telecoms.html" class="secondMenu__link" title="Autres activités"><span class="secondMenu__title">Autres activités</span></a></li>

                </ul>


            </li>
            <li class="secondMenu__li secondMenu__li--3 gridCR-col-20--desk --topLi">
                <span class="secondMenu__title">Stockage d'électricité <br /> et solutions</span>
                <ul class="secondMenu__ul--level2">
                    <li class="secondMenu__li--1">
                        <a href="blue-solutions.html" class="secondMenu__link" title="Blue Solutions, Films plastiques"><span class="secondMenu__title">Blue Solutions, Films plastiques</span></a>
                    </li>
                    <li class="secondMenu__li--2">
                        <a href="vehicule-electrique.html" class="secondMenu__link" title="Véhicules électriques, Solutions"><span class="secondMenu__title">Véhicules électriques, Solutions</span></a>
                    </li>


                </ul>
            </li>
            <li class="secondMenu__li secondMenu__li--4 gridCR-col-20--desk">
                <a class="secondMenu__link" href="autres-actifs.html"><span class="secondMenu__title">Autres actifs</span></a>

            </li>

        </ul>

    </div>

    <div class="secondMenu__item secondMenu__item--off" data-menu="smenu3">
        <ul class="secondMenu__ul secondMenu__ul--level1 gridCR --VgridTop">
            <li class="secondMenu__li secondMenu__li--1 gridCR-col-20--desk">
                <span class="secondMenu__title">Nous rejoindre</span>
                <ul class="secondMenu__ul--level2">
                    <li class="secondMenu__li--1 ">
                        <a href="consulter-les-offres.html" class="secondMenu__link" title="Consulter les offres"> <span class="secondMenu__title">Consulter les offres</span></a>
                    </li>

                    <li class="secondMenu__li--2">
                        <a href="deposer-ma-candidature.html" class="secondMenu__link" title="Déposer ma candidature"><span class="secondMenu__title">Déposer ma candidature</span></a>
                    </li>

                </ul>


            </li>


        </ul>

    </div>
    <div class="secondMenu__item secondMenu__item--off" data-menu="smenu4">
        <ul class="secondMenu__ul secondMenu__ul--level1 gridCR --VgridTop">
            <li class="secondMenu__li secondMenu__li--1 gridCR-col-20--desk">
                <span class="secondMenu__title">En bref</span>
                <ul class="secondMenu__ul--level2">
                    <li class="secondMenu__li--1 ">
                        <a href="message-du-president.html" class="secondMenu__link" title="Message du président"> <span class="secondMenu__title">Message du président</span></a>
                    </li>

                    <li class="secondMenu__li--2">
                        <a href="chiffres-cles.html" class="secondMenu__link" title="Chiffres clés"><span class="secondMenu__title">Chiffres clés</span></a>
                    </li>
                    <li class="secondMenu__li--3">
                        <a href="organigrame.html" class="secondMenu__link" title="Organigrame économiques / Structure Actionnariat"><span class="secondMenu__title">Organigrame économiques / Structure Actionnariat</span></a>
                    </li>
                </ul>


            </li>
            <li class="secondMenu__li secondMenu__li--2 gridCR-col-20--desk">
                <span class="secondMenu__title">Calendrier financier</span>
                <ul class="secondMenu__ul--level2">
                    <li class="secondMenu__li--1 ">
                        <a href="agenda-financier.html" class="secondMenu__link" title="Agenda financier (annonces CA,Résultats,AG,autres)"> <span class="secondMenu__title">Agenda financier (annonces CA,Résultats,AG,autres)</span></a>
                    </li>


                </ul>
            </li>
            <li class="secondMenu__li secondMenu__li--3 gridCR-col-20--desk --topLi">
                <a href="information-reglementee.html" class="secondMenu__link" title="Information réglementée / Publications"> <span class="secondMenu__title">Information réglementée / Publications</span></a>

            </li>
            <li class="secondMenu__li secondMenu__li--4 gridCR-col-20--desk">
                <span class="secondMenu__title">Actionnaire individuel</span>
                <ul class="secondMenu__ul--level2">
                    <li class="secondMenu__li--1">
                        <a href="devenir-actionnaire.html" class="secondMenu__link" title="Devenir actionnaire"> <span class="secondMenu__title">Devenir actionnaire</span></a>
                    </li>
                    <li class="secondMenu__li--2">
                        <a href="action.html" class="secondMenu__link" title="Mode de détention des actions"> <span class="secondMenu__title">Mode de détention des actions</span></a>
                    </li>
                    <li class="secondMenu__li--3">
                        <a href="contacts.html" class="secondMenu__link" title="Mode de détention des actions"> <span class="secondMenu__title">Contacts</span></a>
                    </li>
                </ul>
            </li>
            <li class="secondMenu__li secondMenu__li--5 gridCR-col-20--desk">
                <span class="secondMenu__title">Bolloré en bourse</span>
                <ul class="secondMenu__ul--level2">
                    <li class="secondMenu__li--1">
                        <a href="fiche-signaletique.html" class="secondMenu__link" title="Fiche signalétique"> <span class="secondMenu__title">Fiche signalétique</span></a>
                    </li>
                    <li class="secondMenu__li--2">
                        <a href="cours.html" class="secondMenu__link" title="Cours en direct et historique"> <span class="secondMenu__title">Cours en direct et historique</span></a>
                    </li>
                    <li class="secondMenu__li--3">
                        <a href="dividende-et-cours-isf.html" class="secondMenu__link" title="Dividendes et cours ISF"> <span class="secondMenu__title">Dividendes et cours ISF</span></a>
                    </li>
                </ul>
            </li>
            <li class="secondMenu__li secondMenu__li--6 gridCR-col-20--desk">
                <a href="assemblee-generale.html" class="secondMenu__link" title="Assemblée génrale"><span class="secondMenu__title">Assemblée génrale</span></a>

            </li>
            <li class="secondMenu__li secondMenu__li--7 gridCR-col-20--desk">
                <a href="faq.html" class="secondMenu__link" title="Assemblée génrale"><span class="secondMenu__title">FAQ</span></a>

            </li>

        </ul>

    </div>

    <div class="secondMenu__item secondMenu__item--off" data-menu="smenu5">
        <ul class="secondMenu__ul secondMenu__ul--level1 gridCR --VgridTop">
            <li class="secondMenu__li secondMenu__li--1 gridCR-col-20--desk">
           
                 <a href="actualites-et-communiques.html" class="secondMenu__link" title="Actualités et Communiqués"> <span class="secondMenu__title">Actualités et Communiqués</span></a>


            </li>
            <li class="secondMenu__li secondMenu__li--2 gridCR-col-20--desk">
                 <a href="publications.html" class="secondMenu__link" title="Publications"> <span class="secondMenu__title">Publications</span></a>
               
            </li>
            <li class="secondMenu__li secondMenu__li--3 gridCR-col-20--desk">
                <a href="contact-presse.html" class="secondMenu__link" title="Contact presse"> <span class="secondMenu__title">Contact presse</span></a>

            </li>
            <li class="secondMenu__li secondMenu__li--4 gridCR-col-20--desk">
               <a href="mediatheque.html" class="secondMenu__link" title="Accès Médiathèque">  <span class="secondMenu__title">Accès Médiathèque</span></a>
               
            </li>

        </ul>

    </div>
</nav>