<div class="content pagePresence">

    <!-- core:include _headerBandeau.html -->
    <!-- /core -->

    <!-- core:include _ariane.html -->
    <!-- /core -->

    <div class="mainChapeau">
        <div class="mainChapeau__content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae massa id ex laoreet consectetur eget sit amet
            lacus. Sed at iaculis erat. Maecenas erat quam, cursus eget molestie vel, hendrerit in mauris. Phasellus eu orci
            vitae turpis congue cursus at vel justo. Quisque non blandit odio, vitae tincidunt risus. Phasellus commodo est
            a mi gravida, eu vulputate nibh auctor.</p> </div>
    </div>

    <h1 class="mainTitle"><span class="mainTitle__text --titleHead">Nos implantations</span></h1>

    <div class="sousContent sousContent__mapMonde">
        <h3 class="chiffre__keyFigure chiffre__keyFigure--logo1 icon-bulle-1 --titleBlue4"><span class="chiffre__h3">58000+</span>
            <span class="chiffre__txt">collobarateur répartis<br> dans <strong>156</strong> pays.</span>
        </h3>

        <img alt="Carte des implantations" class="mapMonde__visuel" src="img/mapMonde.png" />
        <ul>
            <li class="mapMonde__item">
                <h2 class="icon-bulle-5">Transport &amp;&nbsp;Logistique</h2>
                <h3>Bolloré logistics</h3>
                <p><strong>601</strong> agences dans <strong>105</strong> pays.</p>
                <h3>Bolloré Africa logistics</h3>
                <p><strong>250</strong> filiales dans <strong>105</strong> pays.</p>
                <h3>Bolloré energy</h3>
                <p><strong>105</strong> agences en France, en Allemagne et en Suisse.</p>
            </li>
            <li class="mapMonde__item">
                <h2 class="icon-bulle-6">Communication</h2>
                <p>Publicité (Havas)</p>
                <p>Presse (Direct Matin)</p>
                <p>Télécoms</p>
            </li>
            <li class="mapMonde__item">
                <h2 class="icon-bulle-7">Stockage d'électricité et solutions</h2>
                <h3>Batteries et surcapacités, véhicules électriques</h3>
                <p><strong>4</strong> usines en France et au Canada.</p>
                <h3>Films plastiques</h3>
                <p><strong>250</strong> usines en Europe et aux Etats-Unis</p>
                <h3>IER - Terminaux et systèmes spécialisés</h3>
                <p><strong>19</strong> implantations dans le monde.</p>
            </li>
            <li class="mapMonde__item">
                <h2 class="icon-bulle-11">Actifs agricoles</h2>
                <p><strong>3</strong> fermes aux états-Unis et <strong>2</strong> domaines viticoles en France.</p>
            </li>
        </ul>
    </div>

    <div class="sousContentFin sousContentFin--right">
        <a class="cta cta--type1" href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>Accédez à notre FAQ</a>
    </div>
</div>