<div class="content pageFaq">

    <!-- core:include _headerBandeau.html -->
    <!-- /core -->

    <!-- core:include _ariane.html -->
    <!-- /core -->

    <h1 class="mainTitle">
        <span class="mainTitle__text --titleHead">Lorem ipsum</span>
    </h1>
    <div class="mainChapeau">
        <div class="mainChapeau__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae massa id ex laoreet consectetur eget sit
                amet lacus. Sed at iaculis erat. Maecenas erat quam, cursus eget molestie vel, hendrerit in mauris. Phasellus
                eu orci vitae turpis congue cursus at vel justo. Quisque non blandit odio, vitae tincidunt risus. Phasellus
                commodo est a mi gravida, eu vulputate nibh auctor. </p>
        </div>
    </div>
    <h2 class="mainTitle">
        <span class="mainTitle__text --titleHead mainTitle--blue">Cours en direct</span>
    </h2>
    <div class="bloc">
        <div class="bloc__txt">
            <p>
                Cotée en Bourse depuis le 30 octobre 2013, Blue Solutions est la société qui regroupe les activités de stockages d’électricité
                développées par le Groupe Bolloré. Ces solutions de stockages prennent vie dans des applications mobiles
                mais également stationnaires développées et commercialisées par d’autres entités du Groupe réunies au sein
                de Blue Applications.


            </p>
        </div>
    </div>
    <div class="wrapperTableau">
        <div class="sousContent sousContent--tableau">
            <h2 class="secondTitle secondTitle--type1">Lorem ipsum doctor sit amet</h2>

            <h3 class="secondTitle secondTitle--type2 icon-fleche-1">
                <a href="#" class="faqLink">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae massa?</a>
            </h3>
            <div class="commonText faqBlock">
                <div class="tableau">
                    <table style="height: 237px; border-color: #0f96d9;" border="1">
                        <tbody>
                            <tr>
                                <td style="width: 215px; vertical-align: top;" rowspan="2">
                                    <span style="color: #007bc0;">ACTIONS AU NOMINATIF</span>
                                </td>
                                <td style="width: 216px;">
                                    <span style="color: #007bc0;">Pur</span>
                                </td>
                                <td style="width: 268px;">CACEIS assure la gestion de votre compte-titres (actions Bolloré SA uniquement) </td>
                            </tr>
                            <tr>
                                <td style="width: 216px;">
                                    <span style="color: #007bc0;">Administré</span>
                                </td>
                                <td style="width: 268px;">Votre intermédiaire financier assure la gestion de votre compte-titres (multi valeurs) et
                                    transmet à CACEIS les informations nécessaires à l’inscription et au suivi du registre
                                    nominatif
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 431px;" colspan="2">
                                    <span style="color: #007bc0;">ACTIONS AU PORTEUR</span>
                                </td>
                                <td style="width: 268px;">Votre intermédiaire financier assure la gestion de votre compte-titres (multi valeurs)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tableau mobile">

                    <table style="height: auto; border-color: #0f96d9;" border="1">
                        <tbody>
                            <tr>
                                <td style="width: 215px; vertical-align: top;" colspan="2">
                                    <span style="color: #007bc0;">ACTIONS AU NOMINATIF</span>
                                </td>
                            </tr>
                            <tr>

                                <td style="color: #007bc0;">
                                    Pur
                                </td>
                                <td>CACEIS assure la gestion de votre compte-titres (actions Bolloré SA uniquement) </td>
                            </tr>
                            <tr>

                                <td style="color: #007bc0;">
                                    Administré
                                </td>
                                <td>Votre intermédiaire financier assure la gestion de votre compte-titres (multi valeurs) et
                                    transmet à CACEIS les informations nécessaires à l’inscription et au suivi du registre
                                    nominatif
                                </td>
                            </tr>
                            <tr>

                                <td style="color: #007bc0;">
                                    Actions au porteur
                                </td>
                                <td>Votre intermédiaire financier assure la gestion de votre compte-titres (multi valeurs)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <h3 class="secondTitle secondTitle--type2 icon-fleche-1">
                <a href="#" class="faqLink">Id ex laoreet consectetur eget sit amet lacus. Sed at iaculis erat. Maecenas erat quam, cursus eget molestie
                    vel, hendrerit in mauris?</a>
            </h3>
            <div class="commonText faqBlock">
                <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                    eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                    enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                    eos qui ratione voluptat.
                    <a href="#">En savoir plus</a>
                </p>
                <ul>
                    <li>Quasi architecto beatae vitae dicta sunt explicabo.</li>
                    <li>Aspernatur aut odit aut fugit.</li>
                    <li>Omnis iste natus error sit voluptatem accusantium.</li>
                </ul>
            </div>

            <h3 class="secondTitle secondTitle--type2 icon-fleche-1">
                <a href="#" class="faqLink">Phasellus eu orci vitae turpis congue cursus at vel justo. Quisque non blandit odio, vitae tincidunt risus.
                    Commodo est a mi gravida, eu vulputate nibh auctor?</a>
            </h3>
            <div class="commonText faqBlock">
                <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                    eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                    enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                    eos qui ratione voluptat.
                    <a href="#">En savoir plus</a>
                </p>
                <ul>
                    <li>Quasi architecto beatae vitae dicta sunt explicabo.</li>
                    <li>Aspernatur aut odit aut fugit.</li>
                    <li>Omnis iste natus error sit voluptatem accusantium.</li>
                </ul>
            </div>

            <h3 class="secondTitle secondTitle--type2 icon-fleche-1">
                <a href="#" class="faqLink">Lorem ipsum dolor sit amet, consectetur adipiscing elit, vivamus vitae massa ex laoreet consectetur?</a>
            </h3>
            <div class="commonText faqBlock">
                <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                    eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                    enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                    eos qui ratione voluptat.
                    <a href="#">En savoir plus</a>
                </p>
                <ul>
                    <li>Quasi architecto beatae vitae dicta sunt explicabo.</li>
                    <li>Aspernatur aut odit aut fugit.</li>
                    <li>Omnis iste natus error sit voluptatem accusantium.</li>
                </ul>
            </div>

            <h3 class="secondTitle secondTitle--type2 icon-fleche-1">
                <a href="#" class="faqLink">Eget sit amet lacus. Sed at iaculis erat. Maecenas erat quam, cursus eget?</a>
            </h3>
            <div class="commonText faqBlock">
                <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                    eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                    enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                    eos qui ratione voluptat.
                    <a href="#">En savoir plus</a>
                </p>
                <ul>
                    <li>Quasi architecto beatae vitae dicta sunt explicabo.</li>
                    <li>Aspernatur aut odit aut fugit.</li>
                    <li>Omnis iste natus error sit voluptatem accusantium.</li>
                </ul>
            </div>

            <h2 class="secondTitle secondTitle--type1">Lorem ipsum</h2>

            <h3 class="secondTitle secondTitle--type2 icon-fleche-1">
                <a href="#" class="faqLink">Molestie vel hendrerit in mauris. Phasellus eu orci vitae turpis congue cursus at vel justo. Quisque non
                    blandit odio, vitae tincidunt risus. Phasellus commodo est a mi gravida, eu vulputate nibh auctor?</a>
            </h3>
            <div class="commonText faqBlock">
                <p>Lorem ipsum Lorem ipsum Lorem ipsum</p>
                <ul>
                    <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                    <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                    <li>Lorem ipsum Lorem ipsum Lorem
                        <a href="#">ipsum</a>
                    </li>
                </ul>
            </div>

            <h3 class="secondTitle secondTitle--type2 icon-fleche-1">
                <a href="#" class="faqLink">Lorem ipsum dolor sit amet, Vivamus vitae massa?</a>
            </h3>
            <div class="commonText faqBlock">
                <p>Lorem ipsum Lorem ipsum Lorem ipsum</p>
                <ul>
                    <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                    <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                    <li>Lorem ipsum Lorem ipsum Lorem
                        <a href="#">ipsum</a>
                    </li>
                </ul>
            </div>

            <h3 class="secondTitle secondTitle--type2 icon-fleche-1">
                <a href="#" class="faqLink">Ex laoreet consectetur eget sit amet lacus. Sed at iaculis erat. Maecenas erat quam, cursus eget molestie
                    vel, hendrerit in mauris?</a>
            </h3>
            <div class="commonText faqBlock">
                <p>Lorem ipsum Lorem ipsum Lorem ipsum</p>
                <ul>
                    <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                    <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                    <li>Lorem ipsum Lorem ipsum Lorem
                        <a href="#">ipsum</a>
                    </li>
                </ul>
            </div>

            <h2 class="secondTitle secondTitle--type1">Lorem ipsum doctor sit amet</h2>

            <h3 class="secondTitle secondTitle--type2 icon-fleche-1">
                <a href="#" class="faqLink">Phasellus eu orci vitae turpis congue cursus at vel justo. Quisque non blandit odio, vitae tincidunt risus.
                    Phasellus commodo est a mi gravida, eu vulputate nibh auctor?</a>
            </h3>
            <div class="commonText faqBlock">
                <p>Lorem ipsum Lorem ipsum Lorem ipsum</p>
                <ul>
                    <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                    <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                    <li>Lorem ipsum Lorem ipsum Lorem
                        <a href="#">ipsum</a>
                    </li>
                </ul>
            </div>

            <h3 class="secondTitle secondTitle--type2 icon-fleche-1">
                <a href="#" class="faqLink">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae massa ex laoreet consectetur?</a>
            </h3>
            <div class="commonText faqBlock">
                <p>Lorem ipsum Lorem ipsum Lorem ipsum</p>
                <ul>
                    <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                    <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                    <li>Lorem ipsum Lorem ipsum Lorem
                        <a href="#">ipsum</a>
                    </li>
                </ul>
            </div>

            <h3 class="secondTitle secondTitle--type2 icon-fleche-1">
                <a href="#" class="faqLink">Eget sit amet lacus. Sed at iaculis erat. Maecenas erat quam, cursus eget?</a>
            </h3>
            <div class="commonText faqBlock">
                <p>Lorem ipsum Lorem ipsum Lorem ipsum</p>
                <ul>
                    <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                    <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                    <li>Lorem ipsum Lorem ipsum Lorem
                        <a href="#">ipsum</a>
                    </li>
                </ul>
            </div>

            <h3 class="secondTitle secondTitle--type2 icon-fleche-1">
                <a href="#" class="faqLink">Molestie vel, hendrerit in mauris. Phasellus eu orci vitae turpis phasellus commodo est a mi gravida, eu
                    vu lputate nibh auctor?</a>
            </h3>
            <div class="commonText faqBlock">
                <p>Lorem ipsum Lorem ipsum Lorem ipsum</p>
                <ul>
                    <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                    <li>Lorem ipsum Lorem ipsum Lorem ipsum</li>
                    <li>Lorem ipsum Lorem ipsum Lorem
                        <a href="#">ipsum</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="actuDoc__footer actuDoc__footer--generic">
        <a href="faq.html" class="actuDoc__faqLink --linkF">
            <i class="fa fa-comments-o linkTxtAnim" aria-hidden="true"></i>
            <span class="actuDoc__faqtxt linkTxtAnim"> Accédez à notre FAQ</span>
        </a>
    </div>
</div>