<div class="content content--talent">
    <!-- core:include _headerTalent.html -->
    <!-- /core -->

    <!-- core:include _ariane.html -->
    <!-- /core -->

    <h1 class="mainTitle">
        <span class="mainTitle__text --titleHead">lorem ipsum</span>
    </h1>


    <div class="sousContent sousContent__informations sousContent--talent">
        <div class="gridCR --VgridTop">
            <div class="gridCR-col-50--desk gridCR-col-100--mob gridCR-col-50--tab">

                <article class="blocTalent">
                    <h1 class="blocTalent__title">...Familiale</h1>

                    <div class="blocTalent__wysiwyg">
                        <p>
                            Vous rejoignez un groupe familial, visionnaire et indépendant qui investit depuis près de 200 ans dans des technologies et
                            des secteurs innovants.
                        </p>
                    </div>
                    <footer class="blocTalent__foot">
                        <span class="blocTalent__footer">Vous vous épanouissez et travaillez dans des métiers d’avenir.</span>
                    </footer>


                </article>

            </div>
            <div class="gridCR-col-50--desk gridCR-col-100--mob gridCR-col-50--tab">
                <article class="blocTalent">
                    <h1 class="blocTalent__title">...Entrepreneuriale</h1>

                    <div class="blocTalent__wysiwyg">
                        <p>
                            Vous rejoignez un groupe familial, visionnaire et indépendant qui investit depuis près de 200 ans dans des technologies et
                            des secteurs innovants.
                        </p>
                    </div>
                    <footer class="blocTalent__foot">
                        <span class="blocTalent__footer">Vous vous épanouissez et travaillez dans des métiers d’avenir.</span>
                    </footer>


                </article>
            </div>
            <div class="gridCR-col-50--desk gridCR-col-100--mob gridCR-col-50--tab">
                <article class="blocTalent">
                    <h1 class="blocTalent__title">...internationale</h1>

                    <div class="blocTalent__wysiwyg">
                        <p>
                            Vous rejoignez un groupe diversifié en termes d’activités et de culture, un groupe implanté partout dans le monde et particulièrement
                            en Afrique.
                        </p>
                    </div>
                    <footer class="blocTalent__foot">
                        <span class="blocTalent__footer">Vous travaillez dans un environnement stimulant au contact de réalités internationales.</span>
                    </footer>


                </article>
            </div>
            <div class="gridCR-col-50--desk gridCR-col-100--mob gridCR-col-50--tab">
                    <article class="blocTalent">
                        <h1 class="blocTalent__title">...humaine</h1>
        
                        <div class="blocTalent__wysiwyg">
                            <p>
                                Vous rejoignez des équipes pluridisciplinaires au sein d’un groupe qui a la volonté de s’inscrire sur le long terme.
                            </p>
                        </div>
                        <footer class="blocTalent__foot">
                            <span class="blocTalent__footer">Vous avez des opportunités de développement de vos compétences et de carrière dans des métiers et activités
                                très divers.</span>
                        </footer>
        
        
                    </article>
                </div>

        </div>

      

    </div>
</div>

<div class="actuDoc__footer actuDoc__footer--generic">
    <a href="faq.html" class="actuDoc__faqLink --linkF">
        <i class="fa fa-comments-o linkTxtAnim" aria-hidden="true"></i>
        <span class="actuDoc__faqtxt linkTxtAnim"> Accédez à notre FAQ</span>
    </a>
</div>
</div>