/*animations*/

.trait2(@color, @percent) {
    &:after {
        transition: all linear 0.2s;
        width: @percent;
        background: @color;
        height: 1px;
        display: block;
        content: '';
        margin-top: 1px;
    }
}

.\--linkF {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.\--linkC {
    display: inline-block;
    position: relative;
}

.\--link {
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.linkTxtAnim,
.capsule__color,
.msg__linkTxt {
    position: relative;
    z-index: 10;
    transition: all 0.6s ease;
}


/* @blue-4*/

.animButton(@color, @background, @speed, @type: "") {
    &.\--linkN {
        transition: all @speed ease;
        border: 1px solid transparent;
        &:hover {
            //  border: 1px solid @color;
            & when (@type ='transparent') {
                border: 1px solid @type;
            }
            &::after {
                background-color: @color;
            }
            .linkTxtAnim {
                color: @color;
            }
            &::before {
                //   border: 1px solid @color; 
                opacity: 1;
                width: 100%;
                height: 100%;
                background: @background;
            }
        }
        &::after {
            transition: all @speed ease;
        }
        &::before {
            content: '';
            opacity: 0;
            transform: translate(-50%, -50%);
            transform-origin: 50% 50% 0;
            transition: all @speed ease;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50%;
            margin: 0 auto;
            height: 50%;
            padding: 0;
        }
    }
}

.animButtonLinkN(@color, @background, @speed, @type: "") {
    &.\--linkN {
        transition: all @speed ease;
        border: 1px solid @color;
        &:hover {
            //  border: 1px solid @color;
            background: @background;
            & when (@type ='transparent') {
                border: 1px solid @type;
            }
            &::after {
                background-color: @color;
            }
            .linkTxtAnim {
                color: @color;
            }
            &::before {
                //   border: 1px solid @color; 
                opacity: 1;
                width: 100%;
                height: 100%;
                background: @background;
            }
        }
        &::after {
            transition: all @speed ease;
        }
        &::before {
            content: '';
            opacity: 0;
            transform: translate(-50%, -50%);
            transform-origin: 50% 50% 0;
            transition: all @speed ease;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50%;
            margin: 0 auto;
            height: 50%;
            padding: 0;
        }
    }
}

.animButton2(@color, @background, @speed) {
    &.\--linkC {
        transition: all @speed ease;
        padding: 8px 8px;
        &:hover {
            // border: 1px solid @color;
            .linkTxtAnim {
                color: @color;
            }
            &::before {
                border: 1px solid @color;
                opacity: 1;
                width: 100%;
                height: 100%;
            }
        }
        &::before {
            content: '';
            opacity: 0;
            border: 1px solid @color;
            transform: translate(-50%, -50%);
            transform-origin: 50% 50% 0;
            transition: all @speed ease;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50%;
            margin: 0 auto;
            height: 50%;
            padding: 0;
        }
    }
}

.animationLink (@color) {
    .\--link {
        .trait2(@blue-8, 0%);
        &:hover {
            .trait2(@blue-8, 100%);
        }
    }
}

.animationCapsule() {
    .capsule--blue1 {
        .capsule__link {
            .animButton(white, @blue-4, 0.6s);
        }
    }
    .capsule--red {
        .capsule__link {
            .animButton(white, @red-3, 0.6s);
        }
    }
    .capsule--blue2 {
        .capsule__link {
            .animButton(white, @blue-10, 0.6s, transparent);
        }
    }
}

.animationBorderPost() {
    .listeDocs__visuel {
        border: 1px solid transparent;
        transition: all 0.5s ease .1s;

        &--on {
            border: 1px solid @blue-8;
            
        }
    }
    .post__img {
        border: 1px solid transparent;
        transition: all 0.5s ease .1s;
        &--on {
            border: 1px solid @blue-8;
        }
    }
}

.animButtonFaq(@color, @background, @speed) {
    &.\--linkF {
        transition: all @speed ease;
        border: 1px solid transparent;
        &:hover {
            background-color: transparent;
            border: 1px solid @color;
            .linkTxtAnim {
                color: @color;
            }
            &::before {
                opacity: 1;
                background-color: rgba(255, 255, 255, 1);
                width: 100%;
                height: 100%;
            }
        }
        &::before {
            content: '';
            opacity: 0;
            transform: translate(-50%, -50%);
            transform-origin: 50% 50% 0;
            transition: all 0.6s ease;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.1);
            top: 50%;
            left: 50%;
            width: 50%;
            margin: 0 auto;
            height: 50%;
            padding: 0;
        }
    }
}

.aniamtionKeyfigure() {
    .chiffre__keyFigure {
        transition: all ease 0.6s;
        &--off {
            opacity: 0;
            transform: translateY(23%);
        }
    }
}

.animationSticky {
    .header {
        transition: all 0.6s ease 0.2s;
        &.sticky {
            opacity: 1;
        }
    }
}

.animButtonEx(@color, @background, @speed, @border) {
    &.linkG {
        transition: all @speed ease;
        &:hover {
            border: 2px solid transparent;
            .linkTxtAnim {
                color: @background;
            }
            &::before {
                border: @border solid @color;
                opacity: 1;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 123, 192, 1);
            }
        }
        &::before {
            content: '';
            opacity: 0; // border: @border solid @color;
            background-color: rgba(0, 123, 192, 0.5);
            transform: translate(-50%, -50%);
            transform-origin: 50% 50% 0;
            transition: all 0.6s ease;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50%;
            margin: 0 auto;
            height: 50%;
            padding: 0;
        }
    }
}

.arcileSlider() {
    .slider__item {
        .slider__push {
            opacity: 0;
            transition: all 0.5s linear;
            transform: translateY(-42px);
        }
        .slider__title {
            transition: all 0.5s linear;
            opacity: 0;
            transform: translateY(-80px);
        }
    }

    .slider__item--current {
        .slider__push {
            opacity: 1;
            transform: translateY(0);
        }
        .slider__title {
            transform: translateY(0px);
            opacity: 1;
        }
    }
    .slider__article {
        .\--linkPlus {
            //  transition:  background-color 0.8s ease;  
            transition: all 0.1s ease;
            &::before {
                content: '';
                opacity: 0;
                transform: translate(-50%, -50%) scale(0, 0);
                transition: all 0.6s ease;
                background-color: @blue-4;
                position: absolute;
                top: 50%;
                left: 50%;
                padding: 11px;
            }
        }
        &:hover {
            .\--linkPlus {
                color: white;
                background-color: #007eba;
            }
            &::before {
                transform: translate(-50%, -50%) scale(2);
            }
            .\--linkPlus:after {
                background: white;
                position: relative;
            }
        }
        &::before {
            content: '';
            height: 0;
            width: 61.3%;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%) scale(0);
            display: block;
            padding: 42.444444% 0 0 0;
            transition: all 0.6s ease;
            background-color: rgba(0, 126, 186, 0.1); //rgba(115, 148, 159,0.3);
        }
    }
}
.animButtonHover(){
    .link__plus {
        &:hover{
            .linkTxtAnim {
                color: white;
                border-bottom: 2px solid white;
            }
        }
       
    }
    .filtreAnnee__lien,.animHover,.link__plus {
        position: relative;
        overflow: hidden;
        background: white;
        &:hover{
            background: transparent;
           border: 1px solid transparent;
           transition: border 0.5s ease 0.3s;
            &:before{
                opacity: 1;
               // background-color:white;
                height: 100%;
                width: 100%;
            }
        }
        &:before{
            transition: all 0.6s ease;
            content: '';
            opacity: 0; // border: @border solid @color;
            background-color: rgb(0, 123, 192);
            transform: translate(-50%, -50%);
            transform-origin: 50% 50% 0;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50%;
            margin: 0 auto;
            height: 50%;
            padding: 0;
        }
    }
}

.animationslideChiffre(){
    .listeDocs__voirPlus {
        .link__plus {
            &--off{
                opacity: 0;
            }
        }
    }
   
    .listeDocs__bloc {
        overflow: hidden;
        height: 450px;
        transition: all 0.8s linear;

        // &--on{
        //     max-height: none;
        //     overflow: visible;
        //     transition:  max-height 0.5s ease,overflow 0.5s ease;
        // }
    }
}
//anim --linkC
.animButton2(@blue-4, transparent, 0.6s);
//anim --linkN
.animButtonLinkN(@blue-4, white, 0.6s);
//anim --link
.animationLink(@blue-8);
.animationBorderPost();
//capsule--blue1 capsule--blue2 capsule--red
.animationCapsule();
//anim btn faq
.animButtonFaq(@blue-4, white, 0.6s);
//chiffre clés
.aniamtionKeyfigure();
//animation sticky
.animationSticky();
//animation ex anim --linkG
.animButtonEx( @blue-4, white, 0.6s, 2px);
//anim article slider
.arcileSlider();

//animation lien information-reglementee
.animButtonHover();

//informtion reglementée
.animationslideChiffre();