.\--information {
    &:after {
        background: transparent url('../img/information.png') no-repeat 0 0;
        width: 3.6vw;
        height: 3.6vw;
        background-size: 100%;
        content: '';
        .dispI;
        position: absolute;
        top: -3.8vw;
        left: -0.5vw;
    }
}

.\--headGenric {
    margin-bottom: 8%;
}

.titleHeadH2 {
    .dispI;
    position: relative;
    width: 100%;
}

.\--linkN {
    &:after {
        .dispB;
        background-color: @white-3;
        height: 1px;
        width: 100%;
        content: '';
        margin-top: 2px;
    }
    .dispI;
    padding: 0.85% 1.7%;
    .txt-14;
}

.icon-information {
    .txt-8;
    &:before {
        position: absolute;
        top: -1.4vw;
        font-size: 3.6vw;
        left: -0.5vw;
    }
}

.\--titleHeadN {
    font-size: 2.5vw;
    color: @grey-1;
    .ft-gotham-black;
}

.\--titleHead {
    color: @grey-1;
    .txt-12;
    width: auto;
    background-color: @white-3;
    .dispI;
    z-index: 100;
    top: 0.6vw;
}

.trait(@color) {
    &:after {
        width: 100%;
        background: @color;
        height: 1px;
        display: block;
        content: '';
        margin-top: 1px;
    }
}

.\--linkPlus {
    &:after {
        width: 100%;
        background: @grey-1;
        height: 1px;
        display: block;
        content: '';
        margin-top: 1px;
    }
    .\--titleGrey1;
    .dispI;
    padding: 4% 5%;
    background-color: @white-3;
    .txt-10;
    text-decoration: none;
    position: relative;
    left: -5%;
    margin-top: 5%;
}

.slider {
    margin-top: 1.2%;
    &__content {
        overflow: hidden;
        position: relative;
    }
    &__article {
        position: relative;
        z-index: 100;
    }
    &__sTitle {
        .title-2;
        position: relative;
        top: 0.35em;
        color: @white-3;
        margin-bottom: 7%;
        display: inline-block;
        margin-top: 3%;
    }
    &__head {
        .slider__title {}
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .txtC;
        &:before {
            vertical-align: middle;
            .dispI;
            height: 100%;
            content: '';
        }
    }
    &__title {
        .dispI;
        vertical-align: middle;
        .title-1;
        color: @white-3;
        position: relative;
        &:after {
            border: 1px solid @white-3;
            position: absolute;
            bottom: -4%;
            left: 0;
            right: 0;
            .dispI;
            content: '';
        }
    }
    &__title2 {
        color: @white-3;
    }
    &__txt {
        .txt-9;
        color: @white-3;
        line-height: normal;
    }
    &__push {
        .icon-noPicto {
            .txt-8;
            &:before {
                position: absolute;
                top: -1.4vw;
                .txt-8;
                left: -0.5vw;
                content: "\e920";
                visibility: hidden;
            }
        }
        &:before {
            content: '';
            .dispI;
            height: 100%;
            position: absolute;
            top: 2.7vw;
            left: -0.6vw;
            bottom: 0;
            background: @white-3;
            width: 1px;
        }
        width: 26.628629%;
        position: absolute;
        bottom: 1.2vw;
        right: 0%;
        padding-right: 5%;
    }
    &__pagination {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: transparent;
        width: 64.25vw;
        margin-left: 16.7vw;
    }
    &__next,
    &__prev {
        cursor: pointer;
        position: absolute;
        font-size: 1.75vw;
        color: @blue-9;
        top: 50%;
        transform-style: preserve-3d;
        transform: translateY(-50%);
    }
    &__next {
        right: 0.8vw;
    }
    &__prev {
        transform: rotate(-180deg);
        left: 0.8vw;
    }
    &__item { 
       
       .icon-information {
                &:before{
                    color:@white-3;
                }
        }
        &--white {
          
        }
        width: 57.25vw;
        height: auto;
        display: inline-block;
        margin-right: 3.4vw;
    }
    &__ul {
        width: 5000px;
        margin-left: -40.5vw;
    }
}

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}

.swipe-wrap {
    overflow: hidden;
    position: relative;
}

.swipe-wrap>li {
    float: left;
    width: 100%;
    position: relative;
}


/*=============================================
=            GROUPE            =
=============================================*/

.titleHead {
    content: '';
    .dispI;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: @grey-3;
    height: 1px;
    width: 99%;
    z-index: 1;
}

.groupe {
    padding-bottom: 2.5%;
    &__footer {
        .txtR;
        padding-top: 3%;
    }
    &__content {
        padding-top: 19.142857%
    }
    &__head {
        margin-bottom: 4%;
    }
    &__txt {
        .txt-13;
        color: @grey-3;
        line-height: normal;
        .txtR;
    }
    &__title {
        .dispI;
        position: relative;
        width: 100%;
        &:before {
            .titleHead;
        }
    }
    &__link {
        background-color: @blue-4;
        color: @white-3;
    }
    &__tilteTxt {
        padding-left: 1%;
        position: absolute;
        bottom: -0.8vw;
        right: 0;
        top: auto;
        z-index: 100;
    }
}


/*=============================================
=            CHIFFRE            =
=============================================*/

.chiffre {
    &__bloc {
        .gridCR {
            div:nth-last-child(-n+2) {
                .chiffre__keyFigure {
                    padding-bottom: 0;
                }
            }
        }
    }
    &__txt1 {
        .txt-18;
        color: @red-5;
        .dispB; // line-height: 1.5vw;
        line-height: normal;
    }
    &__txt {
        .txt-18;
        color: @grey-3;
        .dispB; // line-height: 1.5vw;
        line-height: normal;
    }
    &__keyFigure {
        .txt-15;
        padding-bottom: 23%;
    }
    &__h3 {
        .txt-16;
        .dispB;
        padding-bottom: 2%;
        letter-spacing: -0.04em;
    }
    &__content {
        padding-top: 5%;
        padding-left: 12.5%;
    }
    &__head {
        margin-bottom: 5.5%;
    }
    &__titleTxt {
        padding-right: 1%;
        position: absolute;
        left: 0;
        bottom: -0.8vw;
        z-index: 100;
        top: auto;
    }
    &__title {
        .dispI;
        position: relative;
        width: 100%;
        &:before {
            .titleHead;
            width: 100%;
        }
    }
}


/*=============================================
=            Activités            =
=============================================*/

.activites {
    background-color: @white-1;
    &__content {
        padding: 3% 20%;
    }
    &__article {
        padding-top: 1.2%;
    }
    &__tilteTxt {
        position: relative;
        .dispI;
        padding: 0% 0.5%;
        background-color: @white-1;
    }
    &__title {
        .txtC;
        .titleHeadH2;
        &:before {
            .titleHead;
            width: 100%;
        }
    }
}


/**
 *
 * Capsules
 *
 */

.capsule {
    font-size: 4.0vw;
    .txtC;
    &__head {}
    &--blue1 {
        color: @blue-2;
        .capsule__link {
            color: @blue-2;
            border: 1px solid @blue-2;
            &:after {
                background-color: @blue-2;
            }
        }
    }
    &--blue2 {
        color: @blue-10;
        .capsule__link {
            color: @blue-10;
            border: 1px solid @blue-10;
            &:after {
                background-color: @blue-10;
            }
        }
    }
    &__link {
        border: 1px solid @grey-3;
        padding: 2.4% 4.5%;
        &:after {
            background-color: @grey-3;
        }
    }
    &--red {
        color: @red-3;
        .capsule__link {
            color: @red-3;
            border: 1px solid @red-3;
            &:after {
                background-color: @red-3;
            }
        }
    }
    &__txt {
        vertical-align: middle;
        .dispI;
    }
    &__titleTxt {
        vertical-align: middle;
        height: 2em;
        .dispB;
        .txt-19;
        margin-top: 4%;
        &:before {
            vertical-align: middle;
            .dispI;
            content: '';
            height: 100%;
        }
    }
    &__title {
        .txt-15;
    }
}


/*=============================================
=            Talents            =
=============================================*/

.talents {
    &__content {
        background-size: cover;
        background: transparent url('../img/img-talents.jpg') no-repeat center top;
        width: 100%;
        height: 26.39vw;
        padding: 5% 0 5% 22%;
    }
    &__titleTxt {
        .txt-41;
    }
    &__title {
        color: @white-3;
        background: transparent;
        padding-bottom: 0.2%;
        .dispI;
        border-bottom: 1px solid @white-3;
        margin-bottom: 2.8%;
    }
    &__button {
        position: relative;
        &--linkedin {
            .talents__linkOffres {
                color: @blue-7;
                &:before {
                    background: @blue-7;
                    color: @white-3;
                }
            }
        }
        background-color: @white-3;
        width: 24.5vw;
        height: 4.4vw;
        margin-bottom: 2%;
        .txt-25;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__linkOffres {
        &:before {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            .txt-21;
            background: @white-2;
            color: @grey-3;
            width: 18%;
            .dispI;
            text-align: center;
            height: 100%;
            line-height: 4.5vw;
        }
        position: absolute;
        top:0;
        left: 0;
        bottom: 0;
        right: 0;
        &:after {
            .dispI;
            content: '';
            height: 100%;
            vertical-align: middle;
        }
    }
    &__linkTxt {
        vertical-align: middle;
        .dispI;
        .ft-gotham-book;
        padding-left: 6%;
    }
}


/*=============================================
=            Actionnaires            =
=============================================*/

.actionnaires {
    &__content {
        padding-top: 2%;
    }
    &__titleTxt {
        position: relative;
        padding: 0% 0.5%;
    }
    &__title {
        .txtC;
        .titleHeadH2;
        &:before {
            .titleHead;
            left: auto;
            right: auto;
            width: 100%;
        }
    }
}


/**
 *
 * cours
 *
 */

.cours {
    width: 24.8vw;
    padding: 4% 4%;
    border: 1px solid @blue-7;
    margin-left: 35%;
    &__title {
        color: @blue-7;
        position: relative;
        &:before {
            vertical-align: middle;
            position: absolute;
            height: 100%;
            top: -1vw;
            left: 0;
            .txt-22;
        }
    }
    &__footer {
        color: @blue-7;
        margin-top: 19%;
        .txt-24;
    }
    &__euros {
        .dispB;
    }
    &__pourcent {
        .dispB;
        .txtR;
    }
    &__head {
        .txtR;
    }
    &__txt {
        .txt-23;
        letter-spacing: 0.18vw;
        margin-top: 6%;
        .dispI;
    }
    &__titleTxt {
        letter-spacing: 0.18vw;
        .txt-19;
        .dispI;
        vertical-align: sub;
        margin-left: 8%;
    }
}


/**
 *
 * msg actionnaires
 *
 */

.msg {
    margin-left: 6.2%;
    &__tilte {}
    &__link {
        background-color: @blue-7;
        color: @white-3;
    }
    &__head {
        color: @blue-7;
        .txt-19;
    }
    &__tilteTxt {}
    &__txt {
        padding-top: 2%;
        .txt-18;
        padding-bottom: 3%;
        line-height: normal;
    }
}


/*=============================================
=            actualités documents            =
=============================================*/

.myItem {
    &:nth-child(n+2) {
        padding: 7.5% 0;
    }
    padding-bottom:7.5%;
    border-bottom:1px solid @grey-3;
    &:last-child {
        border: none;
        padding-bottom: 0;
    }
}

.padBloc {
    padding-right: 21%;
}

.fixBloc {
    // min-height: 22.5vw;
    // max-height: 22.5vw;
    // overflow: hidden;
}

.ulMargin {
    margin-top: 2.8%;
}

.footerBloc {
    margin-top: 12%;
}

.actuDoc {
    &__content {
        .fixBloc;
    }
    &__footer {
        width: 100%;
        .txtR;
        margin-top: 5%;
        margin-right: 10vw;
        &--generic {
            margin-right: auto;
            padding-right: 11%;
        }
    }
    &__faqLink {
        .dispI;
        background-color: @blue-4;
        color: @white-3; //.txt-26;
        .txt-26;
        padding: 1.1% 3.38%;
        .fa-comments-o {
            .dispI;
            .txt-64;
            position: relative;
            left: -6%;
            top: -0.1em;
            vertical-align: middle;
        }
    }
    &__faqtxt {
        color: @white-3;
        vertical-align: middle;
        .dispI;
    }
    &--actualite,
    &--documents,
    &--publications {}
    &--actualite,
    &--documents {
        .padBloc;
        .actuDoc__item {
            .myItem;
        }
        .actuDoc__all {
            .footerBloc;
        }
    }
    &--documents {
        .actuDoc__ul {
            .ulMargin;
        }
    }
    &--publications {
        .actuDoc__head {
            margin-bottom: 4%;
        }
        .actuDoc__ul {
            .ulMargin;
        }
        .actuDoc__item {
            margin-bottom: 1.5%;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .actuDoc__all {
            margin-top: 6%;
        }
        .post {
            &__item {
                margin-left: 2vw;
            }
        }
    }
    &__head {}
    &__title {}
    &__sTitle {
        .txt-1;
        color: @blue-8;
    }
    &__ul {
        min-height: 13vw;
    }
    &__item {}
    &__all {
        .txt-11;
    }
    &__link {
        color: @blue-8;
        .dispI;
        &:after {
            .dispB;
            background-color: @blue-8;
            height: 1px;
            width: 100%;
            content: '';
            margin-top: 2px;
        }
    }
}


/**
 *
 * POST
 *
 */

.post {
    &__item {}
    &__head {}
    &__date {
        .txt-1;
    }
    &__content {
        margin: 2.8% 0;
        .txt-20;
        line-height: normal;
    }
    &__footer {}
    &__link {
        .txt-20;
        color: @blue-8;
    }
}


/**
 *
 * publications
 *
 */

.publications {
    &__ul {}
    &__item {}
}

.pub {
    &__link {}
    &__img {
        width: 77px;
    }
    &__image {
        box-shadow: 0px 1px 3px 1px rgba(163, 163, 163, 0.48);
    }
    &__content {
        margin: 2.8% 0;
        .txt-20;
        line-height: normal;
    }
    &__date {
        .txt-1;
    }
    &__telecharger {}
}


/*=====  End of actualités documents  ======*/


/*=============================================
=            Container            =
=============================================*/

.container {
    &--actuDoc {
        padding-top: 2.0%;
        padding-left: 19.5%;
        padding-bottom: 0;
    }
    &--chiffre {
        padding-bottom: 1.1%;
    }
    &--actionnaires {
        padding-top: 1.1%;
        overflow: hidden;
        padding-bottom: 3.5%;
        border-bottom: 1px solid @grey-3;
    }
}