.\--information {
    &:after {
        background: transparent url('../img/information.png') no-repeat 0 0;
        width: 3.6vw;
        height: 3.6vw;
        background-size: 100%;
        content: '';
        .dispI;
        position: absolute;
        top: -3.8vw;
        left: -0.5vw;
    }
}

.titleHeadH2 {
    .dispI;
    position: relative;
    width: 100%;
}

.\--linkN {
    &:after {
        .dispB;
        background-color: @white-3;
        height: 1px;
        width: 100%;
        content: '';
        margin-top: 2px;
    }
    .dispI;
    padding: 1.2% 2.5%;
    .ft-gotham-black;
    font-size: 1.15vw;
}

.icon-information {
    font-size: 3.6vw;
    &:before {
        position: absolute;
        top: -1.4vw;
        font-size: 3.6vw;
        left: -0.5vw;
    }
}

.\--titleHeadN {
    font-size: 2.5vw;
    color: @grey-1;
    .ft-gotham-black;
}

.\--titleHead {
    font-size: 2.2vw;
    color: @grey-1;
    .ft-gotham-black;
    width: auto;
    background-color: @white-3;
    .dispI;
    z-index: 100;
}

.\--linkPlus {
    &:after {
        width: 100%;
        background: @grey-1;
        height: 1px;
        display: block;
        content: '';
        margin-top: 1px;
    }
    .ft-gotham-black;
    .\--titleGrey1;
    .dispI;
    padding: 4% 5%;
    background-color: @white-3;
    font-size: 0.94vw;
    text-decoration: none;
    position: relative;
    left: -5%;
    margin-top: 5%;
}

.slider {
    margin-top: 1.2%;
    &__content {
        overflow: hidden;
        position: relative;
    }
    &__article {
        position: relative;
        z-index: 100;
    }
    &__sTitle {
        font-size: 1.05vw;
        color: @white-3;
        .ft-gotham-bold;
        margin-bottom: 7%;
        display: inline-block;
        margin-top: 3%;
    }
    &__head {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .txtC;
        &:before {
            vertical-align: middle;
            .dispI;
            height: 100%;
            content: '';
        }
    }
    &__title {
        font-size: 2.75vw;
        .dispI;
        vertical-align: middle;
        .ft-gotham-black;
        color: @white-3;
        position: relative;
        &:after {
            border: 1px solid @white-3;
            position: absolute;
            bottom: -4%;
            left: 0;
            right: 0;
            .dispI;
            content: '';
        }
    }
    &__title2 {
        color: @white-3;
    }
    &__txt {
        font-size: 0.83vw;
        color: @white-3;
        line-height: 1.1vw;
        .ft-gotham-book;
    }
    &__push {
        .icon-noPicto {
            font-size: 3.6vw;
            &:before {
                position: absolute;
                top: -1.4vw;
                font-size: 3.6vw;
                left: -0.5vw;
                content: "\e920";
                visibility: hidden;
            }
        }
        &:before {
            content: '';
            .dispI;
            height: 100%;
            position: absolute;
            top: 2.7vw;
            left: -0.6vw;
            bottom: 0;
            background: @white-3;
            width: 1px;
        }
        width: 26.628629%;
        position: absolute;
        bottom: 1.2vw;
        right: 0%;
        padding-right: 5%;
    }
    &__pagination {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: transparent;
        width: 64.25vw;
        margin-left: 16.7vw;
    }
    &__next,
    &__prev {
        cursor: pointer;
        position: absolute;
        font-size: 1.75vw;
        color: @blue-9;
        top: 50%;
        transform-style: preserve-3d;
        transform: translateY(-50%);
    }
    &__next {
        &.icon-fleche-1 {
            right: 1vw;
        }
    }
    &__prev {
        transform: rotate(-180deg);
        left: 0.8vw;
    }
    &__item {
        width: 57.25vw;
        height: auto;
        display: inline-block;
        margin-right: 3.4vw;
    }
    &__ul {
        width: 5000px;
        margin-left: -40.5vw;
    }
}

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}

.swipe-wrap {
    overflow: hidden;
    position: relative;
}

.swipe-wrap>li {
    float: left;
    width: 100%;
    position: relative;
}


/*=============================================
=            Container            =
=============================================*/

.container {
    &--chiffre {
        padding-bottom: 1.1%;
    }
}


/*=============================================
=            GROUPE            =
=============================================*/

.tilteHead {
    content: '';
    .dispI;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: @grey-3;
    height: 1px;
    width: 99%;
    z-index: 1;
}

.groupe {
    padding-bottom: 2.5%;
    &__footer {
        .txtR;
        padding-top: 3%;
    }
    &__content {
        padding-top: 19.142857%
    }
    &__head {
        margin-bottom: 4%;
    }
    &__txt {
        font-size: 1.09vw;
        color: @grey-3;
        line-height: 2.1vw;
        .ft-gotham-book;
        .txtR;
    }
    &__title {
        .dispI;
        position: relative;
        width: 100%;
        &:before {
            .tilteHead;
        }
    }
    &__link {
        background-color: @blue-4;
        color: @white-3;
    }
    &__tilteTxt {
        padding-left: 1%;
        position: absolute;
        bottom: -0.5vw;
        right: 0;
        z-index: 100;
    }
}


/*=============================================
=            CHIFFRE            =
=============================================*/

.chiffre {
    &__bloc {
        .gridCR {
            div:nth-last-child(-n+2) {
                .chiffre__keyFigure {
                    padding-bottom: 0;
                }
            }
        }
    }
    &__txt {
        .ft-gotham-book;
        font-size: 1.15vw;
        color: @grey-3;
        .dispB;
        line-height: 1.5vw;
    }
    &__keyFigure {
        font-size: 4.0vw;
        padding-bottom: 23%;
    }
    &__h3 {
        .ft-gotham-black;
        font-size: 5.05vw;
        .dispB;
        padding-bottom: 2%;
    }
    &__content {
        padding-top: 5%;
        padding-left: 12.5%;
    }
    &__head {
        margin-bottom: 5.5%;
    }
    &__titleTxt {
        padding-right: 1%;
        position: absolute;
        left: 0;
        bottom: -0.8vw;
        z-index: 100;
    }
    &__title {
        .dispI;
        position: relative;
        width: 100%;
        &:before {
            .tilteHead;
            width: 100%;
        }
    }
}


/*=============================================
=            Activités            =
=============================================*/

.activites {
    background-color: @white-1;
    &__content {
        padding: 3% 20%;
    }
    &__article {
        padding-top: 1.2%;
    }
    &__tilteTxt {
        position: relative;
        top: 0.4vw;
        .dispI;
        padding: 0% 0.5%;
        background-color: @white-1;
    }
    &__title {
        .txtC;
        .titleHeadH2;
        &:before {
            .tilteHead;
            width: 100%;
        }
    }
}


/**
 *
 * Capsules
 *
 */

.capsule {
    font-size: 4.0vw;
    .txtC;
    &__head {
        min-height: 7vw;
        max-height: 7vw;
    }
    &--blue1 {
        color: @blue-2;
        .capsule__link {
            color: @blue-2;
            border: 1px solid @blue-2;
            &:after {
                background-color: @blue-2;
            }
        }
    }
    &__link {
        border: 1px solid @grey-3;
        padding: 2.4% 4.5%;
        &:after {
            background-color: @grey-3;
        }
    }
    &--red {
        color: @red-3;
        .capsule__link {
            color: @red-3;
            border: 1px solid @red-3;
            &:after {
                background-color: @red-3;
            }
        }
    }
    &__titleTxt {
        .dispB;
        font-size: 1.62vw;
        .ft-gotham-black;
    }
    &__title {}
}


/*=============================================
=            Talents            =
=============================================*/

.talents {
    &__content {
        background-size: cover;
        background: transparent url('../img/img-talents.jpg') no-repeat center top;
        width: 100%;
        height: 26.39vw;
        padding: 5% 0 5% 23%;
    }
    &__title {
        color: @white-3;
        background: transparent;
        .dispI;
        border-bottom: 1px solid @white-3;
        margin-bottom: 2.8%;
    }
    &__button {
        position: relative;
        &--linkedin {
            .talents__linkOffres {
                color: @blue-7;
                &:before {
                    background: @blue-7;
                    color: @white-3;
                }
            }
        }
       
        background-color: @white-3;
        width: 24.5vw;
        height: 4.4vw;
        margin-bottom: 2%;
        .ft-gotham-book;
        font-size: 1.05vw;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__linkOffres {
        &:before {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            font-size: 1.5vw;
            background: @white-2;
            color: @grey-3;
            width: 18%;
            .dispI;
            text-align: center;
            height: 100%;
            line-height: 4.5vw;
        }
        position: absolute;
        top:0;
        left: 0;
        bottom: 0;
        right: 0;
        &:after {
            .dispI;
            content: '';
            height: 100%;
            vertical-align: middle;
        }
    }
    &__linkTxt {
        vertical-align: middle;
        .dispI;
        .ft-gotham-book;
        padding-left: 6%;
    }
}