html {
    // font-size: 0.52084vw;
    font-size: 62.5%;
    /* 16px * 62.5% = 10px */
}

body {
    background-color: @white-3;
    .ft-gotham-book;
    color: @grey-1;
}

.mainContent {
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: @grey-3;
}

.\--linkAll {}


/*=============================================
=            Header            =
=============================================*/

.padLR {
    padding-left: 11.5%;
    padding-right: 11.5%;
}

.pad2 {
    padding: 0 2.34375%;
}

.--linkAll {
    border: 1px solid @white-3;
    content: '';
    .dispI;
    bottom: -2px;
    left: 0;
    right: 0;
    width: 100%;
    position: absolute;
}

.menuFooter {
    &--link {
        color: @white-3;
        text-decoration: none;
        .dispI;
    }
    &__span {
        .dispI;
        position: relative;
        &:hover {
            &:after {}
        }
        &:after {
            .--linkAll;
        }
    }
}

.close {
    width: 25px;
    height: 25px; //1.4vw;
    position: absolute;
    top: 0;
    right: 2%;
    cursor: pointer;
    &--off {
        .hidden;
    }
    &__left,
    &__right {
        cursor: pointer;
        position: absolute;
        width: 100%;
        background-color: @white-3;
        height: 0.2vw;
        transform-style: preserve-3d;
        transform-origin: center center;
    }
    &__left {
        transform: rotate(45deg);
    }
    &__right {
        transform: rotate(-45deg)
    }
}

.overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}


/**
 *
 * Header site
 *
 */

.header {
    &__menuContainer {
        margin-top: 4.0%;
    }
    z-index: 1000;
    overflow: hidden;
    background: @white-3;
    &.sticky {
        position: fixed;
        max-width: 1680px;
        margin: 0 auto;
        top: 0;
        width: 100%;
        box-shadow: 0px 8px 6px 0px rgba(14, 14, 14, 0.25);
    }
    &__top,
    &__middle {
        .padLR;
    }
    &__top {}
    &__middle {
        &--off {
            .hidden;
        }
        background-color: @blue-9;
        padding-top: 2.4%;
        padding-bottom: 4.0%;
    }
    &__bottom {
        &--off {
            .hidden;
        }
    }
    &__menu {
        &--off {
            .hidden;
        }
    }
    &__menuFooter {
        padding: 1.3% 0;
        background-color: @blue-9;
        border-top: 1px solid @white-3;
        .txt-29;
        .txtC;
        &--off {
            .hidden;
        }
    }
    &__bourse {
        .dispI;
        vertical-align: middle;
        .txt-1;
        .icon-chiffre-1 {
            .txt-2;
            &:before {
                display: inline-block;
                vertical-align: bottom;
            }
        }
    }
    &__search {
        .dispI;
        position: relative;
        left: 12%;
    }
    &__infoLeft {
        .dispI;
    }
    &__infoRight {
        .dispI;
    }
    &__langue {
        .dispI;
        .txtR;
        white-space: nowrap;
        &--off {
            .hidden;
        }
    }
    &__dataBourseEuro {
        vertical-align: text-bottom;
        .txt-3;
        .dispI;
    }
    &__bloc {
        &--fix {
            z-index: 1;
            overflow: visible;
        }
        &--sticky {
            position: fixed;
        }
        height: 0;
        padding-top: 10.46875%;
        .posR;
        >.gridCR {
            flex-wrap: nowrap;
            .\--posA;
        }
    }
    &__logo {
        max-width: 112px;
        width: 100%;
    }
    &__spanL {
        .txt-28;
        text-transform: uppercase;
        .dispI;
        position: relative;
        right: 43%;
        &:last-child {
            position: static;
            right: auto;
        }
        a,
        a:hover {
            text-decoration: none;
        }
        a:hover {
            color: @blue-9;
            .ft-gotham-bold;
        }
        a {
            color: @grey-1;
        }
        &--on {
            a {
                .ft-gotham-bold;
                color: @blue-9;
            }
        }
    }
}

.search {
    &__input {
        .txt-4;
        outline: none;
        vertical-align: middle;
        background: transparent;
        &--on {
            display: block;
        }
        &--off {
            visibility: hidden;
        }
    }
    &__btn {
        .txt-5;
        vertical-align: middle;
    }
}


/*=====  End of Header  ======*/


/*=============================================
=           first nav menu             =
=============================================*/

.menu {
    &__footer {
        &--off {
            .hidden;
        }
    }
    &__link {
        color: @white-3;
    }
    &__title {
        .txt-6;
    }
    &__li {
        .txtC;
        .curP;
        padding: 1% 1% 0.9% 1%;
        border-bottom: 0.6vw solid transparent;
        &:hover,
        &--on {
            color: @blue-9;
            border-bottom: 0.6vw solid @blue-9;
        }
        &.icon-fleche-1 {
            &:before {
                .hidden;
            }
        }
    }
    &__ul {
        &--off {
            .hidden;
        }
        &--level2 {
            .hidden;
            &.menu__ul--on {
                display: block;
            }
        }
        &--level3 {
            .hidden;
            &.menu__ul--on {
                display: block;
            }
        }
        &--level1 {
            white-space: nowrap;
            &>.menu__li {
                &:last-child {
                    padding-right: 0;
                }
                &:first-child {
                    padding-left: 0;
                }
                .dispI;
            }
        }
    }
}


/*=====  End of first nav menu  ======*/


/*=============================================
=            second nav menu            =
=============================================*/

.secondMenu {
    position: relative;
    .\--topLi {
        .secondMenu__title {
            &:before {
                content: none;
            }
        }
    }
    &__link {
        .dispI;
        width: 100%;
    }
    &__item {
        &--off {
            .hidden;
        }
        &--on {}
    }
    &__title {
        color: @white-3;
        .txt-7;
        width: 100%;
    }
    &__li {
        &--off {
            display: none;
        }
        &--on {
            display: block;
        }
        &--item {
            &--off {
                display: none;
            }
        }
    }
    &__ul {
        &--active {
            display: block;
        }
        &--on {
            display: block;
        }
        &--off {
            display: none;
        }
        &--level1,
        &--level2 {
            .icon-fleche-1 {
                &:before {
                    display: none;
                }
            }
        }
        &--level1 {
            .secondMenu__li {
                width: auto;
                margin-right: 4%;
                margin-bottom: 3%;
            }
            .secondMenu__title {
                vertical-align: middle;
                &:before {
                    content: '';
                    .dispI;
                    height: 100%;
                    vertical-align: middle;
                }
                min-height:2.12vw; //54px;
                .dispI;
                border-bottom: 1px solid @white-3;
            }
        }
        &--level2 {
            .dispI;
            border-bottom: 1px solid @white-3;
            padding: 8% 0;
            width: 100%;
            .secondMenu__title {
                line-height: normal;
                .ft-gotham-book;
                padding: 0;
                border: none;
                width: 100%;
                .dispI;
                height: auto;
                min-height: auto;
            }
        }
    }
}


/*=====  End of second nav menu  ======*/


/*=============================================
=            footer nav            =
=============================================*/

.footer {
    &__content {
        border-top: 1px solid @blue-8;
        .txt-2;
        padding-left: 7%;
        color: @blue-4;
        padding-top: 1%;
        padding-bottom: 2.5%;
    }
    &__copyright {}
}

.navFooter {
    margin-top: 0.2%;
    &__link {
        color: @blue-4;
    }
    &__item {
        .dispI;
        &:after {
            content: "-";
            margin-left: 0.3vw;
            .dispI;
        }
        &:last-child {
            &:after {
                content: none;
            }
        }
    }
}


/*=====  End of footer nav  ======*/


/*=============================================
=            burger            =
=============================================*/

.burger {
    .\--titleBlue4;
    .txt-40;
    cursor: pointer;
    &--off {
        .hidden;
    }
}


/**
 *
 * content
 *
 */

.trait(@color, @positon: 0, @height :1px) {
    &:after {
        background-color: @color;
        position: absolute;
        bottom: @positon;
        left: 0;
        right: 0;
        height: @height;
        .dispI;
        content: '';
    }
}

.link {
    &--blue {
        color: @blue-1;
    }
}

.faqRight {
    margin-left: 67%;
}

.isTablette,
.isMobile {
    display: none !important;
}

.linkT {
    .dispI;
    padding: 0% 5%;
    text-decoration: underline;
}

.linkG {
    color: @blue-1;
    .txt-56;
    .dispB;
    padding: 4% 0;
    border: 2px solid @blue-1;
    position: absolute;
    bottom: 7%;
    left: 0;
    right: 0;
    margin: 0 12%;
    text-decoration: underline;
}


/**
 *
 * main title
 *
 */

.mainTitle__text {
    &.mainTitle--red {
        color: @red-5;
        .txt-65;
        top: 0.4em;
    }
}

.mainTitle {
    &__sub {
        .dispB;
        .txt-49;
    }
    &--blue {
        color: @blue-9;
        .txt-42;
        .center();
    }
    &--red {
        color: @red-5;
        .txt-65;
    }
    &--grey {
        .\--titleGrey1;
        .txt-61;
    }
}

.mainTitle__text {
    &.mainTitle--multiline {
        top: 1.45vw;
    }
}


/**
 *
 * header genrique
 *
 */

.headerGenerique--content {
    .headerGenerique__bloc {
        bottom: auto;
    }
    .headerGenerique__rubrique {
        .txt-63;
    }
    .headerGenerique__title {
        .txt-63;
        position: relative; // .trait(@white-3);
    }
}

.headerGenerique {
    margin-top: 3em;
    &__img {
        height: 37vw;
        position: relative;
    }
    &__bloc {
        &--msg {
            .headerGenerique__rubrique {
                .txt-46;
            }
            .headerGenerique__title {
                .txt-47;
                padding: 5% 0;
                &:after {
                    content: none;
                }
            }
            .headerGenerique__stitle {
                color: @white-3;
                .txt-48;
            }
            .headerGenerique__content {
                position: absolute;
                right: -3%;
                width: 60em;
            }
        }
    }
}

.mainChapeau__content {
    &.mainChapeau__content--red {
        .\--titleRed5;
    }
}


/**
 *
 * slider
 *
 */

.slider {
    /**
 *
 * slider custom
 *
 */
    &--custom {
        .slider__title2 {
            .txt-66;
            color: @grey-3;
            margin-left: 2%;
            .dispI;
        }
        .slider__next {}
        .slider__prev {}
        .slider__txt {
            .txt-67;
            color: @grey-3;
        }
        .slider__push {
            .txtC;
            width: auto;
            position: static;
            padding-top: 2.2%;
        }
        .slider__pagination {
            bottom: 7.9%;
            width: 43.9vw;
            margin-left: 22.3vw;
        }
        .slider__ul {
            margin-left: -14.78vw;
        }
        .slider__item {
            width: 37.05vw;
        }
    }
    margin-top: 1.2%;
    &__content {
        overflow: hidden;
        position: relative;
    }
    &__article {
        position: relative;
        z-index: 100;
    }
    &__sTitle {
        .title-2;
        position: relative;
        top: 0.35em;
        color: @white-3;
        margin-bottom: 7%;
        display: inline-block;
        margin-top: 3%;
    }
    &__head {
        .slider__title {}
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .txtC;
        &:before {
            vertical-align: middle;
            .dispI;
            height: 100%;
            content: '';
        }
    }
    &__title {
        .dispI;
        vertical-align: middle;
        .title-1;
        color: @white-3;
        position: relative;
        &:after {
            border: 1px solid @white-3;
            position: absolute;
            bottom: -4%;
            left: 0;
            right: 0;
            .dispI;
            content: '';
        }
    }
    &__title2 {
        color: @white-3;
    }
    &__txt {
        .txt-9;
        color: @white-3;
        line-height: normal;
    }
    &__push {
        .icon-noPicto {
            .txt-8;
            &:before {
                position: absolute;
                top: -1.4vw;
                .txt-8;
                left: -0.5vw;
                content: "\e920";
                visibility: hidden;
            }
        }
        &:before {
            content: '';
            .dispI;
            height: 100%;
            position: absolute;
            top: 2.7vw;
            left: -0.6vw;
            bottom: 0;
            background: @white-3;
            width: 1px;
        }
        width: 26.628629%;
        position: absolute;
        bottom: 1.2vw;
        right: 0%;
        padding-right: 5%;
    }
    &__pagination {
        &--red {
            .icon-fleche-1 {
                &:before {
                    color: @red-5;
                }
            }
        }
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: transparent;
        width: 64.25vw;
        margin-left: 16.7vw;
    }
    &__next,
    &__prev {
        cursor: pointer;
        position: absolute;
        font-size: 1.75vw;
        color: @blue-9;
        top: 50%;
        transform-style: preserve-3d;
        transform: translateY(-50%);
    }
    &__next {
        right: 0.8vw;
    }
    &__prev {
        transform: translateY(-50%) scale(-1, 1);
        left: 0.8vw;
    }
    &__item {
        .icon-information {
            &:before {
                color: @white-3;
            }
        }
        &--white {}
        width: 57.25vw;
        height: auto;
        display: inline-block;
        margin-right: 3.4vw;
    }
    &__ul {
        width: 5000px;
        margin-left: -40.5vw;
    }
}