@media screen and (max-width: 1280px) {
    .header {
        &__top {
            padding-left: 0;
            padding-right: 0;
        }
        &__middle {
            padding-left: 0;
            padding-right: 0;
        }
    }
    [class*="gridCR-col-64--tab"] {
        flex: 0 1 64%;
        max-width: 64%;
    }
}